---
layout: default
title: Home
nav_id: home
uses_google_maps: t # we only check that this isn't nil, it doesn't matter what is set
---

<section class="intro">
  <p>
    St. Lawrence Surgery&#39;s main office is located in Ogdensburg, NY with offices also located in Canton, NY and Alexandria Bay, NY.
  </p>
  <p>
    There are 4 general surgeons on staff&mdash;
    <span style="white-space: nowrap;">Dr. Christopher Brandy</span>,
    <span style="white-space: nowrap;">Dr. Kiri Brandy</span>,
    <span style="white-space: nowrap;">Dr. Noah Zuker</span>, and
    <span style="white-space: nowrap;">Dr. Mike Oakley</span>.
  </p>
</section>

<section class="action">
  <div class="inner">
    Call 315-393-2611 for an appointment -- no referral is necessary
  </div>
</section>

<section class="locations">
  <h2>{{ site.data.locations | size }} Office Locations</h2>

  <div class="location_container">
    {% for location in site.data.locations %}
      <div class="location">
        <div class="address">
          {{ location.address_1 }}<br/>
          {{ location.city }}, {{ location.state }}
        </div>
        <div id="map_canvas_{{ forloop.index }}" class="map_canvas"></div>
        <a href="https://maps.google.com?daddr={{ location.google_search_param }}" target="_blank">directions &rarr;</a>
      </div>
    {% endfor %}
  </div>
</section>

<section class="banner_photo">
  <img src="{{ site.baseurl }}/images/SLSGroup.jpeg" alt="SLS Staff" />
</section>

<script>
  function initializeGMaps() {
    {% for location in site.data.locations %}
      var mapCanvas = document.getElementById("map_canvas_{{ forloop.index }}");
      var location_coord = new google.maps.LatLng({{ location.lat }}, {{ location.lng }})

      var mapOptions = {
        center: location_coord,
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(mapCanvas, mapOptions)

      var marker = new google.maps.Marker({
        position: location_coord,
        map: map,
        title: "{{ location.name }}"
      });
    {% endfor %}
  }

  google.maps.event.addDomListener(window, 'load', initializeGMaps);
</script>
