---
layout: default
title: Services Provided
nav_id: services
missing_desc: <p>Coming Soon...</p>
---

<div id="services_container">
  <nav id="services_nav">
    <div class="category">
      <span class="header">Colonoscopy/EGD</span>
      <ul>
        <li data-desc-id="colonoscopy">
          Colonoscopy
        </li>
        <li data-desc-id="egd">
          EGD
        </li>
        <li data-desc-id="colon_screening">
          Colon Screening Info
        </li>
      </ul>
    </div>
    <div class="category">
      <span class="header">Laproscopic Surgery</span>
      <ul>
        <li data-desc-id="laparoscopic_gallbladder">
          Gallbladder
        </li>
        <li data-desc-id="appendectomy">
          Appendectomy
        </li>
        <li data-desc-id="laproscopic_hernia">
          Hernia
        </li>
      </ul>
    </div>
    <div class="category">
      <span class="header">General Surgery</span>
      <ul>
        <li data-desc-id="general_colon" class="missing_info">
          Colon
        </li>
        <li data-desc-id="general_gallbladder">
          Gallbladder
        </li>
        <li data-desc-id="general_hernia">
          Hernia
        </li>
        <li data-desc-id="pilonidal_cyst" class="missing_info">
          Pilonidal Cyst
        </li>
        <li data-desc-id="hemorrhoids">
          Hemorrhoids
        </li>
      </ul>
    </div>
    <div class="category">
      <span class="header">Vein Surgery</span>
      <ul>
        <li data-desc-id="venous_reflux">
          Venous Reflux Condition
        </li>
        <li data-desc-id="venous_ablation">
          Venous Ablation
        </li>
      </ul>
    </div>
    <div class="category">
      <span class="header">Breast Surgery/Biopsy</span>
      <ul>
        <li data-desc-id="breast_biopsy">
          Biopsies
        </li>
        <li data-desc-id="lumpectomy">
          Lumpectomy
        </li>
        <li data-desc-id="mastectomy">
          Mastectomy
        </li>
        <li data-desc-id="sentinel_node_biopsy">
          Sentinel node biopsy
        </li>
        <li data-desc-id="axillary_node_dissection">
          Axillary node dissection
        </li>
      </ul>
    </div>
    <div class="category">
      <span class="header">Skin Lesions</span>
      <ul>
        <li data-desc-id="skin_biopsy">
          Skin Biopsy
        </li>
        <li data-desc-id="skin_bcc">
          Basal cell carcinoma (BCC)
        </li>
        <li data-desc-id="skin_ak">
          Actinic keratosis (AK)
        </li>
        <li data-desc-id="skin_scc">
          Squamous cell carcinoma (SCC)
        </li>
        <li data-desc-id="skin_spot_the_diff">
          Spot the Difference
        </li>
        <li data-desc-id="skin_pilonidal">
          Pilonidal Disease
        </li>
        <li data-desc-id="skin_telangiectasia">
          Telangiectasia
        </li>
        <li data-desc-id="skin_viral_warts">
          Viral Warts
        </li>
      </ul>
    </div>
    <div class="category">
      <span class="header">Laser</span>
      <ul>
        <li data-desc-id="warts" class="missing_info">
          Warts
        </li>
        <li data-desc-id="spider_veins" class="missing_info">
          Spider Veins
        </li>
        <li data-desc-id="cosmetic" class="missing_info">
          Cosmetic
        </li>
      </ul>
    </div>
  </nav>

  <section id="service_descriptions">
    <!-- Colonoscopy/EGD -->
    <div id="colonoscopy">
      {% include services/colonoscopy.html %}
    </div>
    <div id="egd">
      {% include services/egd.html %}
    </div>
    <div id="colon_screening">
      {% include services/colorectal.html %}
    </div>

    <!-- Laproscopic Surgery -->
    <div id="laparoscopic_gallbladder">
      {% include services/gallbladder_surgery.html %}
    </div>
    <div id="appendectomy">
      {% include services/appendectomy.html %}
    </div>
    <div id="laproscopic_hernia">
      {% include services/laproscopic_hernia_surgery.html %}
    </div>

    <!-- General Surgery -->
    <div id="general_colon">
      {{ page.missing_desc }}
    </div>
    <div id="general_gallbladder">
      {% include services/open_gallbladder_surgery.html %}
    </div>
    <div id="general_hernia">
      {% include services/general_hernia_surgery.html %}
    </div>
    <div id="pilonidal_cyst">
      {{ page.missing_desc }}
    </div>
    <div id="hemorrhoids">
      {% include services/hemorrhoids.html %}
    </div>

    <!-- Vein Surgery -->
    <div id="venous_reflux">
      {% include services/venous_reflux.html %}
    </div>
    <div id="venous_ablation">
      {% include services/venous_ablation.html %}
    </div>

    <!-- Breast Surgery/Biopsy -->
    <div id="breast_biopsy">
      {% include services/breast_biopsy.html %}
    </div>
    <div id="lumpectomy">
      {% include services/lumpectomy.html %}
    </div>
    <div id="mastectomy">
      {% include services/mastectomy.html %}
    </div>
    <div id="sentinel_node_biopsy">
      {% include services/sentinel_node_biopsy.html %}
    </div>
    <div id="axillary_node_dissection">
      {% include services/axillary_node_dissection.html %}
    </div>

    <!-- Skin Lesions -->
    <div id="skin_biopsy">
      {% include services/skin_biopsy.html %}
    </div>
    <div id="skin_bcc">
      {% include services/skin_bcc.html %}
    </div>
    <div id="skin_ak">
      {% include services/skin_ak.html %}
    </div>
    <div id="skin_scc">
      {% include services/skin_scc.html %}
    </div>
    <div id="skin_spot_the_diff">
      {% include services/skin_spot_the_difference.html %}
    </div>
    <div id="skin_pilonidal">
      {% include services/skin_pilonidal.html %}
    </div>
    <div id="skin_telangiectasia">
      {% include services/skin_telangiectasia.html %}
    </div>
    <div id="skin_viral_warts">
      {% include services/skin_viral_warts.html %}
    </div>

    <!-- Laser -->
    <div id="warts">
      {{ page.missing_desc }}
    </div>
    <div id="spider_veins">
      {{ page.missing_desc }}
    </div>
    <div id="cosmetic">
      {{ page.missing_desc }}
    </div>

<!-- Removed for now
    <div id="ostomy">
      {% include services/ostomy.html %}
    </div>
    <div id="pilonidal">
      {% include services/pilonidal.html %}
    </div>
-->
  </section>
</div>

<script>
  $(function() {
    // on page load show the first description
    $initServiceNav = $("#services_nav li:not(.missing_info):first");
    $("#service_descriptions #" + $initServiceNav.data("desc-id")).show();
    $initServiceNav.addClass('selected');

    // Close all categories except the initial category
    var $initCategory = $initServiceNav.closest(".category");
    $initCategory.siblings(".category").addClass("closed");

    // Change services section on nav click
    $("#services_nav").on("click", "li", function() {
      $("#service_descriptions div").hide();
      $("#" + $(this).data("desc-id")).show();

      $("#services_nav li").removeClass("selected")
      $(this).addClass("selected")
    });

    // Hide/Show category contents on click
    $("#services_nav").on("click", ".category > .header", function() {
      var $category = $(this).closest(".category");
      if ($category.hasClass("closed")) {
        $category.removeClass("closed");
      } else {
        $category.addClass("closed");
      }
    });
  });
</script>