---
layout: default
title: Services Provided
nav_id: services
---

<div id="services_container">
  <nav id="services_nav">
    <ul>
      <li data-desc-id="gallbladder">
        Laparoscopic gallbladder surgery
      </li>
      <li data-desc-id="hernia">
        Laparoscopic hernia repair
      </li>
      <li data-desc-id="appendectomy">
        Appendectomy
      </li>
      <li data-desc-id="colorectal">
        Screening &amp; surveillance for colorectal cancer
      </li>
      <li data-desc-id="hemorrhoids">
        Hemorrhoids
      </li>
      <li data-desc-id="ostomy">
        Ostomy
      </li>
      <li data-desc-id="pilonidal">
        Pilonidal disease
      </li>
      <li data-desc-id="lumpectomy">
        Lumpectomy
      </li>
      <li data-desc-id="mastectomy">
        Mastectomy
      </li>
      <li data-desc-id="sentinel_node_biopsy">
        Sentinel node biopsy
      </li>
      <li data-desc-id="axillary_node_dissection">
        Axillary node dissection
      </li>
      <li data-desc-id="venus_reflux">
        Venus Reflux
      </li>
      <li data-desc-id="egd">
        EGD
      </li>
    </ul>
  </nav>

  <section id="service_descriptions">
    <div id="gallbladder">
      {% include services/gallbladder_surgery.html %}
    </div>
    <div id="hernia">
      {% include services/hernia_surgery.html %}
    </div>
    <div id="appendectomy">
      {% include services/appendectomy.html %}
    </div>
    <div id="colorectal">
      {% include services/colorectal.html %}
    </div>
    <div id="hemorrhoids">
      {% include services/hemorrhoids.html %}
    </div>
    <div id="ostomy">
      {% include services/ostomy.html %}
    </div>
    <div id="pilonidal">
      {% include services/pilonidal.html %}
    </div>
    <div id="lumpectomy">
      {% include services/lumpectomy.html %}
    </div>
    <div id="mastectomy">
      {% include services/mastectomy.html %}
    </div>
    <div id="sentinel_node_biopsy">
      {% include services/sentinel_node_biopsy.html %}
    </div>
    <div id="axillary_node_dissection">
      {% include services/axillary_node_dissection.html %}
    </div>
    <div id="venus_reflux">
      {% include services/venus_reflux.html %}
    </div>
    <div id="egd">
      {% include services/egd.html %}
    </div>
  </section>
</div>

<script>
  $(function() {
    // on page load show the first description
    $initServiceNav = $("#services_nav li:first-child");
    $("#service_descriptions #" + $initServiceNav.data("desc-id")).show();
    $initServiceNav.addClass('selected');

    // Change services section on nav click
    $("#services_nav").click("li", function(event) {
      $("#service_descriptions div").hide();
      $("#" + $(event.target).data("desc-id")).show();

      $("#services_nav li").removeClass("selected")
      $(event.target).addClass("selected")
    });
  });
</script>