<h1>APPENDECTOMY:</h1>

<h2>WHAT IS A LAPAROSCOPIC PROCEDURE?</h2>

<p>
  Laparoscopic surgery describes the performance of a surgical procedure which uses the assistance of several small instruments guided by a video camera.
</p>

<p>
  During a laparoscopic procedure, small incisions are made to allow the camera and the surgical instruments to be introduced.
  With this, the surgeon can more easily obtain access with smaller incisions.
  The video camera will put an image onto a television monitor that the surgeon will use to see and perform the procedure.
</p>

<h2>BENEFITS OF LAPAROSCOPIC PROCEDURES</h2>

<ul>
  <li>Less post operative discomfort, incisions are smaller</li>
  <li>Quicker recovery time</li>
  <li>Shorter hospital stays</li>
  <li>Earlier return to activity</li>
  <li>Smaller scars</li>
</ul>


<h2>ARE YOU A CANDIDATE FOR LAPAROSCOPIC APPENDECTOMY?</h2>

<p>
  Although laparoscopic appendectomy has benefits, it may not be appropriate for some patients.
  Patients who have early, non-ruptured appendicitis usually can be removed laparoscopic ally.
  Laparoscopic appendectomy is more difficult to perform if there is a ruptured appendix.
  When there is a ruptured appendix, an open procedure allows for a larger incision and is safer to the patient.
</p>

<h2>HOW IS LAPAROSCOPIC APPENDECTOMY PERFORMED?</h2>

<ul>
  <li>Patients are monitored under general anesthesia, so the patient is asleep</li>
  <li>An incision around half of an inch is made at the belly button, three other small incisions are made</li>
  <li>Narrow tubes, or ports, are placed in the incisions to hold the camera and surgical instruments</li>
  <li>A laparoscopic camera is placed through the incision at the belly button and connected to a monitor to allow the surgeon to visualize the other instruments inside the abdomen</li>
  <li>The abdomen is inflated with carbon dioxide to open the area and allow visualization</li>
  <li>Special surgical instruments are inserted through the other ports to allow the surgeon to easily work to remove the appendix</li>
  <li>The appendix is then carefully removed from a port</li>
  <li>The incisions are then closed with sutures and dressed by the surgeon</li>
  <li>At times, the surgeon is unable to perform the surgery with the laparoscopic technique, if this happens, the traditional open surgery will be completed for patient safety.</li>
</ul>

<h2>WHAT HAPPENS IF THE OPERATION CANNOT BE PERFORMED OR COMPLETED BY THE LAPAROSCOPIC METHOD?</h2>

<p>
  Sometimes, the surgeon does not feel that laparoscopic surgery is the best way to remove the appendix.
  This may be before the surgery and planned, or during a laparoscopic procedure.
  The surgeon may feel that it is safest to the patient to convert to an open, based on the surgeons best judgment.
  Factors that may increase the likelihood of open procedures include:
<p>

<ul>
  <li>Infection or abscess</li>
  <li>A ruptured appendix</li>
  <li>Obesity</li>
  <li>History of prior abdominal surgery</li>
  <li>Inability to visualize the appendix</li>
  <li>Bleeding during the operation</li>
</ul>

<h2>What should I expect after surgery?</h2>

<p>
  After the operation, it&#39;s important to follow the surgeon&#39;s instructions. You are encouraged to:
</p>

<ul>
  <li>Be out of bed the day of surgery and walking around</li>
  <li>
    You will be able to get back to normal activities in one to two weeks.
    This includes walking, showering, driving, working, amongst other activities.
  </li>
  <li>If you have prolonged soreness or are getting no relief from the prescribed pain medication, you should notify the office.</li>
</ul>

<h2>What complications can occur?</h2>

<p>
  As with any operation, there are risks associated, it is important to recognize early signs of possible complications.
  You should notify the office if you experience, severe abdominal pain, fever, chills, or rectal bleeding. Common complications include:
</p>

<ul>
  <li>Bleeding</li>
  <li>Infection</li>
  <li>Removal of a normal appendix</li>
  <li>A leak at the edge of the colon where the appendix was removed</li>
  <li>Injury to organs near the appendix, the small intestine, ureter, or bladder</li>
  <li>Blood clot</li>
  <li>Pulmonary emboli</li>
</ul>