<h1>AXILLARY NODE DISSECTION:</h1>

<p>
  Lymph nodes serve as a filtering system for the lymphatic system (a system of vessels that collects fluids from cells for filtration and reentry into the blood).
  The first node in the armpit area (axillae) that is affected by breast cancer is also called the sentinel node.
</p>

<p>
  If the cancer is found to have spread to this specific lymph node or other nodes in the axillary area, then your breast surgeon will probably recommend an axillary node dissection.
  Each woman has a different number of nodes in her body, so the decision to remove nodes is not based on number, but on location.
</p>

<p>
  There are three levels of axillary lymph nodes and options for dissection:
</p>

<ul>
  <li>
    <b>Level I</b> -
    This refers to removal of all tissue below the axillary vein and extending to the side where the axillary vein crosses the tendon of a muscle called the latissimus dorsi
  </li>
  <li>
    <b>Level II</b> -
    This dissection removes diseased tissues deeper in the middle (medial) area of another muscle called the pectoralis minor
  </li>
  <li>
    <b>Level III</b> -
    This is the most aggressive dissection and removes all of the nodal tissue from the axillae
  </li>
</ul>
