<h1>BREAST BIOPSY</h1>

<p>
  A biopsy may be indicated if you have a palpable lump or if you have had an
  abnormal mammogram, ultrasound or MRI.
</p>
<p>
  The biopsies are done as an outpatient in the Radiology Department.
  If you had your initial imaging at another facility you should bring a CD
  with the images with you so the area is easier to locate.
  You should also let your doctor know if you are on any blood thinners.
</p>

<h2>Mammography guided vacuum biopsy</h2>

<p>
  The biopsy is usually performed with mammography if micro-calcifications or
  a questionable density was discovered on your mammogram.
</p>
<p>
  When you have your biopsy using mammography you will be seated in a
  comfortable chair.
  There is a special attachment to the machine that allow for pinpoint
  localization of the area to be biopsied.
  Your breast will be placed in the mammography machine similar to a
  regular mammogram.
  An initial image will be taken to optimize the location of the biopsy.
  The doctor will numb the breast with local anesthetic and then make a small
  incision for placement of the biopsy device.
  The biopsy device is attached to a machine that uses a small amount of vacuum
  pressure to pull the tissue into the device for better tissue sampling.
  More local anesthetic is used during the biopsy.
  Several tissue samples are obtained.
  A localization clip may be placed to help locate the biopsy area on future
  mammograms.
  This clip is very tiny and will not be able to be felt by you.
</p>