<h1>SCREENING &amp; SURVEILLANCE FOR COLORECTAL CANCER:</h1>

<h2>What is the risk of colorectal cancer?</h2>

<p>
  Colorectal cancer is the SECOND MOST COMMON cancer in the United States.
  The lifetime risk of developing it is about one in twenty.
  The risk is increased if there is a family history of colorectal polyps or cancer, and is higher with a personal history of breast, uterine, or ovarian cancer.
  Risk is also higher in persons with a history of Ulcerative Colitis or Crohn&#39;s Disease.
</p>

<h2>What is screening and surveillance?</h2>

<p>
  Many polyps and cancers of the colon and rectum have no symptoms until they become large.
</p>

<p>
  Screening involves testing to identify whether a person with no symptoms has a disease or condition that may lead to colon or rectal cancer.
  The goal is to identify early to best prevent or cure findings.
</p>

<p>
  Surveillance involves testing those who have had colon polyps or a history of colon cancer, or those who are at increased risk.
  Because these people have an increased risk of developing cancer, they receive more testing.
</p>

<h2>What screening tests should be done?</h2>

<p>
  Colonoscopy is used to diagnose colon and rectal problems and to perform biopsies and remove colon polyps.
  Most colonoscopies are done on an outpatient basis with minimal inconvenience and discomfort.
</p>

<p>
  Stool may be tested for blood, however; only 50% of cancers and 10% of polyps bleed, so this is not a thorough test for screening.
</p>
