<h1>COLONOSCOPY:</h1>

<h2>What is a colonoscopy?</h2>

<p>
  A colonoscopy is a safe, effective method of examining the full lining of the colon and rectum.
  By using a long, flexible, tubular instrument, it is able to diagnose colon and rectal problems and also able to perform biopsies and remove colon polyps.
  Patients are monitored under the anesthesia team, and the procedure is completed on an outpatient basis.
</p>

<h2>Who should have a colonoscopy?</h2>

<p>
  A colonoscopy is routinely recommended to adults 50 years of age or older as a part of a colorectal cancer screening program.
  Patients who have a family history of colon cancer may have earlier monitoring.
  This is done in intervals of 3-10 years depending on what is observed during the colonoscopy.
</p>

<p>
  Patients with personal history of colon cancer or polyps will also vary in the frequency of screening depending on the type of polyp and their personal history.
  It is typically modified patient to patient.
</p>

<p>
  Also, physicians also may recommend a colonoscopy with bowel changes or bleeding. A colonoscopy may:
</p>

<ul>
  <li>Check unexplained abdominal symptoms</li>
  <li>Check inflammatory bowel disease</li>
  <li>Verify findings of polyps or tumors located with a barium enema exam</li>
  <li>Examine patients who test positive for blood in stool</li>
  <li>Find a source of iron deficiency anemia</li>
  <li>Monitor patients with a personal or family history of colon polyps or cancer</li>
</ul>

<h2>How is a colonoscopy performed?</h2>

<p>
  The bowel is first cleared of all residue before the procedure, to allow for visualization of the colon.
  This is done with a bowel preparation.
</p>

<p>
  The patient is then under anesthesia.
</p>

<p>
  The colonoscope is inserted into the rectum and advanced to the portion of the colon where the small intestine joins the colon.
  During this, if polyps are seen, they are immediately removed, tissue also may be sampled and sent for pathology.
</p>

<p>
  The procedure takes less than one hour and patients require someone to drive them from the hospital.
  They are then able to resume regular diet and activities that same day.
</p>

<h2>What are the risks?</h2>

<p>
  This is a very safe procedure with complication occurring in less than 1% of patients. Risks include:
</p>

<ul>
  <li>Bleeding</li>
  <li>Tearing of the intestine</li>
  <li>Risks of anesthesia</li>
  <li>Failure to detect a polyp</li>
</ul>