<h1>EGD <small>(ESOPHAGOGASTRODUODENOSCOPY)</small>:</h1>

<h2>What is it?</h2>

<p>
  EGD is an endoscopic procedure that allows your doctor to examine your esophagus,
  stomach and duodenum (part of your small intestine). EGD is an outpatient procedure,
  meaning you can go home that same day. It takes approximately 30 to 60 minutes to
  perform.
<p>

<h2>Why is it performed?</h2>

<p>
  EGD is used to evaluate a number of digestive disorders. It is a popular diagnostic
  option because patients generally tolerate it well and it causes minimal
  discomfort.
</p>

<h2>Your gastroenterologist may use EGD to evaluate:</h2>

<ul>
  <li>Abdominal pain</li>
  <li>Heartburn</li>
  <li>Persistent nausea or vomiting</li>
  <li>Swallowing difficulties</li>
  <li>Upper gastrointestinal bleeding</li>
  <li>Chest pain (without evidence of heart disease)</li>
  <li>Bloody stool</li>
</ul>

<h2>Your doctor may also order EGD for:</h2>

<ul>
  <li>Periodic screening, if your doctor thinks you are at risk for developing a digestive disorder</li>
  <li>Surveillance to monitor the progression of an existing condition</li>
  <li>Removing foreign substances</li>
  <li>Controlling bleeding</li>
</ul>

<h2>EGD: What to Expect:</h2>

<p>
  You will need to follow specific preparation instructions prior to the EGD.
</p>

<p>
  During the EGD, your doctor will:
</p>

<ul>
  <li>Anesthetize your throat with a topical anesthetic to suppress the gag reflex.</li>
  <li>Administer pain medication and a sedative.</li>
  <li>Place a plastic mouthpiece between your teeth to prevent damage to the endoscope.</li>
  <li>Insert the endoscope; as you swallow, the swallowing motion guides the endoscope through your esophagus, stomach and duodenum.</li>
  <li>Examine the mucosa (lining) of your gastrointestinal tract as the endoscope moves through your tract. The images are displayed on a monitor.</li>
  <li>
    Pass instruments through the endoscope if necessary. For example, he or she may
    want to use biopsy forceps to obtain samples of tissue or digestive fluid. The
    samples are sent to a laboratory for analysis.
  </li>
</ul>

<p>
  In 1-2 weeks you will be called with biopsy results
</p>
