<h1>GALLBLADDER SURGERY (CHOLECYSTECTOMY):</h1>

<h2>WHAT IS A LAPAROSCOPIC PROCEDURE?</h2>

<p>
  Laparoscopic surgery is a surgical procedure which uses the assistance of several small instruments guided by a video camera.
  During a laparoscopic procedure, small incisions are made to allow the camera and the surgical instruments to be introduced.
  With this, the surgeon can more easily obtain access to the needed area with smaller incisions.
  The video camera will put an image onto a television monitor that the surgeon will use to see and perform the procedure.
</p>

<h2>BENEFITS OF LAPAROSCOPIC PROCEDURES</h2>

<ul>
  <li>Less post operative discomfort, incisions are smaller</li>
  <li>Quicker recovery time</li>
  <li>Shorter hospital stays</li>
  <li>Earlier return to activity</li>
  <li>Smaller scars</li>
</ul>

<h2>HOW SAFE IS A LAPAROSCOPIC GALLBLADDER SURGERY?</h2>

<p>
  This is a very safe operation.
  There is an overall complication rate of less than 2%, which is similar to the traditional open gallbladder surgeries.
</p>

<h2>WHAT IS A LAPAROSCOPIC GALLBLADDER SURGERY?</h2>

<p>
  Also called a cholecystectomy, this is a procedure which removes the gallbladder in a minimally invasive technique.
  Specially designed instruments allow an easier access and surgical technique, allowing for smaller scarring and quicker recovery time.
</p>

<h2>WHAT ACTUALLY HAPPENS?</h2>

<ul>
  <li>Patients are monitored under general anesthesia, so the patient is asleep</li>
  <li>An incision around half of an inch is made at the belly button, three other small incisions are made</li>
  <li>Four narrow tubes, or ports, are placed in the incisions to hold the camera and surgical instruments</li>
  <li>A laparoscopic camera is placed through the incision at the belly button and connected to a monitor to allow the surgeon to visualize the other instruments inside the abdomen</li>
  <li>The abdomen is inflated with carbon dioxide to open the area and allow visualization</li>
  <li>Special surgical instruments are inserted through the other ports to allow the surgeon to easily separate the gallbladder from the liver and bile duct</li>
  <li>The gallbladder is then carefully removed from through a port</li>
  <li>The incisions are then closed with sutures and dressed by the surgeon</li>
  <li>Rarely, the surgeon is unable to perform the surgery with the laparoscopic technique, if this happens, the traditional open surgery will be completed for patient safety.</li>
</ul>

<h2>RISKS  OF LAPAROSCOPIC  CHOLECYSTECTOMY</h2>

<p>
  Although these are infrequent, some complications which occur include bleeding, infection, leakage of bile into the abdomen, pneumonia, blood clots.
  Other rare complications include injury to the common bile duct, duodenum, or small intestine.
  These would require additional procedures to repair the injury.
</p>

<h2>THE  HOSPITAL  STAY</h2>

<p>
  Most patients go home the same day of the operation, some will require a one night stay.
</p>

<h2>RECOVERY TIME</h2>

<p>
  Typically, patients recover and return to regular activity in one week.
  This is dependent on the patient, and how they feel.
  Patients are encouraged to be actively walking.
  Work is usually resumed seven to ten days following surgery, however, those with manual labor (heavy lifting) may require 3-4 weeks to return to activity.
</p>

<h2>CONCERNS TO THE PATIENT</h2>

<p>
  Fever, yellow skin or eyes, persistent nausea or vomiting, excessive drainage or pain from an incision, or unrelenting fever may indicate complications and it would be important to contact your surgeon if you had these symptoms.
</p>
