<h1>Hernia Surgery</h1>

<p>
  With an open <a href="http://www.webmd.com/digestive-disorders/understanding-hernia-basics" target="_blank">hernia</a>
  repair surgery, a single long incision is made in the groin. If the
  hernia is bulging out of the abdominal wall, the bulge is pushed back
  into place. If the hernia is going down the <a href="http://www.webmd.com/hw-popup/inguinal-canal" target="_blank">inguinal canal</a>,
  the hernia sac is either pushed back or tied off and removed.
</p>

<p>
  The weak spot in the muscle wall-where the hernia bulges
  through-traditionally has been repaired by sewing the edges of
  healthy muscle tissue together. This is optimal for smaller hernias
  that have been present since birth and for younger and healthy
  tissue. Having an open surgery varies depending on the area of muscle
  wall to be repaired and the surgeon's preference.
</p>

<p>
  Mesh patches of synthetic material are often used to repair hernias. This
  is more common for large hernias and for reoccurring hernias. Patches
  are sewn over the weakened area in the abdominal wall after the
  hernia is pushed back into place. The patch decreases the tension on
  the weakened belly wall, reducing the risk that a hernia will return.
</p>

<h2>What to Expect After</h2>

<p>
  Most people who have open hernia repair surgery are able to go home the
  same day. Recovery time is about 3 weeks.
</p>

<p>
  You most likely can return to light activity after 3 weeks. Strenuous
  <a href="http://www.webmd.com/fitness-exercise/default.htm" target="_blank">exercise</a>
  should wait until after 6 weeks of recovery. </span></font></font>
</p>

<p>
  Don't do anything that causes pain. You'll probably be able to drive again
  in about 2 weeks or when you have no pain in your groin. You can have
  sexual intercourse in about 3 weeks.
</p>

<h2>Why It Is Done</h2>

<p>
  Surgical repair is recommended for <a href="http://www.webmd.com/digestive-disorders/inguinal-hernia-21658" target="_blank">inguinal hernias</a>
  that are causing pain or other symptoms and for hernias that
  are <a href="http://www.webmd.com/hw-popup/incarcerated-hernia" target="_blank">incarcerated</a>
  or <a href="http://www.webmd.com/hw-popup/strangulated-hernia" target="_blank">strangulated</a>.
  Surgery is always recommended for inguinal hernias in children.
  Infants and children usually have open surgery to repair an
  <a href="http://www.webmd.com/digestive-disorders/tc/inguinal-hernia-topic-overview" target="_blank">inguinal hernia</a>.
</p>

<h2>How it works</h2>

<p>
  Open surgery for inguinal hernia repair is safe. The recurrence rate
  (hernias that require two or more repairs) is low when open hernia
  repair is done by experienced surgeons using mesh patches. Synthetic
  patches are now widely used for hernia repair in both open and
  laparoscopic surgery.
</p>

<h2>Risks</h2>

<p>
  Adults and children who have a hernia repair are at risk for:
</p>

<ol>
  <li>Reaction to anesthesia (main risk)</li>
  <li>Infection and bleeding at the site.</li>
  <li>
    <a href="http://www.webmd.com/brain/nerve-pain-and-nerve-damage-symptoms-and-causes" target="_blank">Nerve damage</a>,
    numbness of skin, loss of <a href="http://www.webmd.com/heart/anatomy-picture-of-blood" target="_blank">blood</a>
    supply to scrotum or testicles resulting in testicular atrophy (all infrequent).
  </li>
  <li>
    Damage to the cord that carries <a href="http://www.webmd.com/infertility-and-reproduction/guide/sperm-and-semen-faq" target="_blank">sperm</a>
    from the testicles to the <a href="http://www.webmd.com/men/picture-of-the-penis" target="_blank">penis</a>
    (vas deferens), which results in an inability to father children.
  </li>
  <li>Damage to the femoral <a href="http://www.webmd.com/heart/picture-of-the-arteries" target="_blank">artery</a> or vein.</li>
</ol>

<p>
  Most hernia repair surgery on adults of all ages and healthy children is done on an outpatient basis.
</p>

<p>
  Open surgery is different from laparoscopic surgery for hernia repair in the following ways:
</p>

<ol>
  <li>An open surgery requires one larger incision instead of several small incisions.</li>
  <li>
    If hernias are on both sides, a second incision will be needed to fix
    the other hernia. Laparoscopic surgery allows the surgeon to repair
    both hernias without making more incisions.
  </li>
</ol>
