<h1>HEMORRHOIDS:</h1>

<h2>What are hemorrhoids?</h2>

<p>
  They are enlarged, bulging blood vessels in and about the anus and lower rectum.
  Tissue supporting the vessels stretch and dilate.
  This causes walls to become thin and bleed. There are two types: internal and external.
</p>

<p>
  External Hemorrhoids develop near the anus and are covered by very sensitive skin.
  They are usually painless.
  They may rupture and cause bleeding.
</p>

<p>
  Internal Hemorrhoids develop within the anus beneath the lining.
  Painless bleeding and protrusion during bowel movements are common symptoms.
  However, an internal hemorrhoid can cause severe pain if it protrudes from the anal opening and cannot be pushed back inside.
</p>

<h2>What causes hemorrhoids?</h2>

<p>
  The exact cause is unknown, but there are factors which do contribute:
</p>

<ul>
  <li>Aging</li>
  <li>Chronic constipation or diarrhea</li>
  <li>Pregnancy</li>
  <li>Heredity</li>
  <li>Straining during bowel movements</li>
  <li>Overuse of laxatives or enemas</li>
  <li>Spending long periods of time on the toilet (reading)</li>
</ul>

<h2>What are the symptoms?</h2>

<p>
  There are many symptoms which may or may not be present:
</p>

<ul>
  <li>Bleeding during bowel movements</li>
  <li>Protrusion during bowel movements</li>
  <li>Itching in the anal area</li>
  <li>Pain</li>
  <li>Sensitive lumps</li>
</ul>

<h2>How are hemorrhoids treated?</h2>

<p>
  Mild symptoms can be relieved by increasing dietary fiber, this eliminates excessive straining and reduces pressure on the hemorrhoid.
</p>

<p>
  Severe hemorrhoids may require special treatment
</p>

<ul>
  <li>Ligation - Banding cuts off the blood supply and eliminates the hemorrhoid and is able to heal in 1-2 weeks.</li>
  <li>
    Hemorrhoidectomy - Removal of the hemorrhoid is the most complete method for both internal and external.
    This removes excessive tissue that causes the bleeding and protrusion. It is done under anesthesia.
  </li>
</ul>
