<h1>HERNIA  SURGERY:</h1>

<h2>WHAT  IS A HERNIA?</h2>

<p>
  A hernia occurs when the inside layers of the abdominal wall become weak and bulge or tear.
  The inner lining of the abdomen pushes through the weakened area.
  When this occurs, a loop of intestine or abdominal tissue is able to slip into the space.
  Some of these may have no symptoms, but if the loop of intestine is squeezed by the abdominal wall, it may lose its supply of oxygen and is dangerous, requiring surgery.
  Both men and women of all ages may develop hernias.
  They are a result of a natural weakness in the abdominal wall, or from excessive strain on the wall with heavy lifting, pregnancy, persistent coughing, or straining.
  There are several types of hernias, which differ in their locations.
  Most hernias are located at the groin area.
  They are also found below the groin, through the navel, and along a previous incision from a surgery.
</p>

<h2>WHAT ARE COMMON  SYMPTOMS  OF A HERNIA?</h2>

<ul>
  <li>A noticeable bulge</li>
  <li>Pain with lifting, movement, or straining</li>
  <li>A dull ache in the area</li>
  <li>Nausea and constipation</li>
</ul>

<h2>WHAT IS A LAPAROSCOPIC PROCEDURE?</h2>

<p>
  Laparoscopic surgery describes the performance of a surgical procedure which uses the assistance of several small instruments guided by a video camera.
  During a laparoscopic procedure, small incisions are made to allow the camera and the surgical instruments to be introduced.
  With this, the surgeon can more easily obtain access with smaller incisions.
  The video camera will put an image onto a television monitor that the surgeon will use to see and perform the procedure.
</p>

<h2>BENEFITS OF LAPAROSCOPIC PROCEDURES</h2>

<ul>
  <li>Less post operative discomfort, incisions are smaller</li>
  <li>Quicker recovery time</li>
  <li>Shorter hospital stays</li>
  <li>Earlier return to activity</li>
  <li>Smaller scars</li>
</ul>

<h2>HOW IS A LAPAROSCOPIC HERNIA REPAIR COMPLETED?</h2>

<ol>
  <li>Patients are monitored under general anesthesia, so the patient is asleep</li>
  <li>A laparoscope with a camera hooked to a television monitor is placed into a port through an incision to allow the surgeon visualize the abdomen while completing the surgery
  <li>The abdomen is inflated with carbon dioxide to better visualize the procedure</li>
  <li>The peritoneum is cut to expose the weakness, and a mesh patch is attached to secure the weak area.</li>
</ol>

<h2>THE  HOSPITAL  STAY</h2>

<p>
  Most patients go home the same day of the operation, some will require a one night stay.
</p>

<h2>RECOVERY TIME</h2>

<p>
  Typically, patients recover and return to regular activity in one week.
  This is dependent on the patient, and how they feel.
  Patients are encouraged to be actively walking.
  Work is usually resumed seven to ten days following surgery, however, those with manual labor (heavy lifting) may require 3-4 weeks to return to activity.

<h2>WHAT ARE BENEFITS OF DOING LAPAROSCOPIC HERNA REPAIRS?</h2>

<ul>
  <li>Less post operative discomfort, incisions are smaller</li>
  <li>Quicker recovery time</li>
  <li>Shorter hospital stays</li>
  <li>Earlier return to activity</li>
  <li>Smaller scars</li>
</ul>
