<h1>Warts</h1>

<h2>WHO NEEDS LASER TREATMENT FOR WARTS?</h2>

<p>
  Warts can cause pain, bleeding and itching and typically spread quickly from one to several warts.
  The body will eventually clear the virus which causes warts, however, this can take years.
  Warts that have failed to respond to conventional treatments such as surgical removal, freezing or wart removers often can be completely cleared with laser treatments.
</p>

<h2>WHAT ARE THE EXPECTED RESULTS?</h2>

<p>
  Treatment may take 2-3 visits and the patient can expect complete clearing after this period.
  Large warts or areas with many warts may take longer to clear.
  Visits are scheduled every four weeks.
</p>

<h2>WHAT IS THE COST OF LASER TREATMENT FOR WARTS?</h2>

<p>
  All insurance companies pay for laser wart treatment.
  The only cost to the patient would be copays or deductibles which apply to their medical insurance policy.
<p>

<h2>WHAT ARE THE SIDE EFFECTS:</h2>

<p>
  In most cases, there is not skin inflammation or pain following the procedure.
  In some instances, the patient may notice redness or slight swelling at the area of treatment.
  This should resolve within 7-10 days.
  During the treatment, the patient may feel some heat at the wart site.
  This is minimized with ice or a cold pack application by the provider during treatment.
<p>
