<h1>LUMPECTOMY:</h1>

<h2>What is a lumpectomy?</h2>

<p>
  A lumpectomy is a surgery used to remove a tumor in the breast and a surrounding margin.
  It attempts to remove the tumor in entirety while preserving the breast.
  At times, more than one procedure may be required to fully remove the entirety of the tumor if the margins which were cut are not clear of tumor.
</p>

<h2>When is a patient a good candidate for a lumpectomy?</h2>

<p>
  Lumpectomies have become more common for women with smaller tumors. Patients who are candidates for breast conserving surgery have one tumor in the breast that is easily removed with surrounding tissue to yield a good cosmetic result.
</p>

<h2>When is a patient NOT a candidate for a lumpectomy?</h2>

<p>
  Patients who have multiple tumors in the breast occupying several different quadrants.
  Also, patients who have had previous lumpectomies with radiation. Patients who refuse to have radiation following surgery.
</p>

<h2>What are the risks?</h2>

<p>
  There is risk of requiring a second surgery if the tumor is not removed with clear borders.
  There is also risk of breast dimpling where the lump was removed, infection, and fluid collection.
</p>
