<h1>MASTECTOMY:</h1>

<h2>What is a mastectomy?</h2>

<p>
  A mastectomy is the surgical removal of a breast, including the nipple and areola.
</p>

<h2>When is a patient a good candidate for a mastectomy:</h2>

<p>
  Patients who are not good candidates for lumpectomies are better candidates for mastectomies.
  Patients who have a had radiation to the breast, multiple tumors in the breast tissue, large tumor compared to breast volume, extensive ductal carcinoma in situ, a strong family history of breast cancer, and others that are routinely discussed with the patient by the surgical team.
</p>