<h1>Open Gallbladder Surgery:</h1>

<p>
  Open gallbladder removal, or open cholecystectomy, is a surgery to remove
  the gallbladder via a large open incision in the abdomen.
</p>

<p>
  The gallbladder is a small organ located on the underside of the liver.
  The liver makes bile, a substance that helps the body break down
  fats. The gallbladder then stores the extra bile the liver makes,
  releasing it when you eat a meal with fats that need to be digested.
  Normal digestion is possible without a gallbladder.
</p>

<p>
  Laparoscopic, or minimally invasive removal, is the most common type of gallbladder
  removal surgery. However, open gallbladder surgeries are still used
  for some patients, especially those who have scar tissue or other
  complications from prior abdominal surgeries.
</p>

<h2>Why Open Gallbladder Removal Is Done</h2>

<p>
  Sometimes the gallbladder will cause problems. Bile can be thick and can create
  blockages and not empty as it should. The gallbladder is also prone
  to develop gallstones. Small or very large gallstones may develop and
  get stuck inside the gallbladder. Gallstone disease can cause short
  or lasting pains in the abdomen. Gallstones may cause infections to
  form, which can cause bloating, nausea, vomiting, and further pain. A
  surgeon will remove your gallbladder if gallstones cause pain and
  other complications.
</p>

<p>
  Gallbladder removal may be advise if your gallbladder is causing a severe, acute
  problem or has become a chronic concern. Some symptoms that may
  indicate the need for gallbladder removal include:
</p>

<ol>
  <li>Sharp pain in the upper portion of your abdomen that can extend to the middle of your stomach, right shoulder, or back</li>
  <li>Fever</li>
  <li>Nausea</li>
  <li>Bloating</li>
  <li>Yellowing of your skin (jaundice)</li>
</ol>

<p>
  Watchful waiting to see if gallbladder-related symptoms lessen may also be
  advised. Diet changes, such as reducing overall fat intake, may also
  help. If symptoms persist, a doctor may recommend surgery.
</p>

<p>
  Whenever possible, laparoscopic surgery is preferred over traditional open
  surgery as it is less invasive and usually has a shorter recovery
  time. However, certain complications can make open surgery a better
  choice, such as when the gallbladder is severely diseased. A severely
  diseased gallbladder can be more difficult to remove because it may
  have affected surrounding areas, which makes a laparoscopic procedure
  more difficult.
</p>

<h2>Risks of Open Gallbladder Removal</h2>

<p>
  Risks of open gallbladder removal include:
</p>

<ol>
  <li>Allergic reaction to anesthesia or other drugs</li>
  <li>Excessive bleeding</li>
  <li>Blood clots</li>
  <li>Infection</li>
  <li>Injury to the bile duct or small intestine</li>
  <li>Pancreatitis, or inflammation of the pancreas</li>
</ol>

<p>
  Your surgeon will explain these risks to you and give you the chance to
  ask questions prior to the procedure.
</p>

<h2> How Open Gallbladder Removal Is Performed</h2>

<p>
  An open gallbladder procedure is performed under general anesthesia, so
  you’ll be in a painless sleep before the surgery starts.
</p>

<p>
  Your stomach will first be cleansed with a solution to reduce infection
  risk. Your surgeon will make an incision in your stomach. There are
  two incision types your surgeon may choose. The surgeon might create
  a slanted incision just below the ribs on the right side of your
  stomach, or they could create an up-and-down incision on the upper
  part of your stomach.
</p>

<p>
  The skin, muscle, and other tissues are pulled back to expose your
  gallbladder. Your surgeon will then remove your gallbladder, close
  the wound with stitches, and then bandage the area. A laparoscopic
  gallbladder removal procedure takes about an hour and a half. An open
  procedure can take longer, but the length of time depends on the
  severity of the gallbladder disease.
</p>

<p>
  After your surgery, you will be brought back to your hospital room. Your
  vital signs will continue to be monitored until you’re released
  home.
</p>

<h2>After Open Gallbladder Removal</h2>

<p>
  Your doctor will discharge you from the hospital or surgery center once
  your vital signs have stabilized and you show clinical signs of
  recovery without complications.
</p>

<p>
  Hospital stays are typically longer after an open procedure because open
  procedures are more invasive than laparoscopic procedures. Your
  surgeon will want to make sure you aren’t having excessive bleeding
  or pain. The medical staff will also monitor you for signs of
  infection, like fever or drainage at the surgical site.
</p>

<p>Some ways you can prevent complications after surgery include:</p>

<ol>
  <li>Walking around frequently to prevent blood clots</li>
  <li>Drinking plenty of fluids to prevent dehydration</li>
  <li>Not lifting more than 10 pounds for four to six weeks</li>
  <li>Washing your hands before and after touching the area around your incision site</li>
  <li>Changing your bandages as directed</li>
  <li>Avoiding wearing tight clothing that could rub against the incision</li>
</ol>

<h2>Outlook</h2>

<p>
  While you can expect some mild to moderate pain after surgery, it should
  not be severe. Pain medication taken after surgery can cause
  constipation. Your doctor may prescribe a stool softener to reduce
  straining. You may also wish to eat a high-fiber diet that includes
  fruits and vegetables. This will help you pass your stools easier.
</p>

<p>
  The risk of complications after surgery is low. However, you should call
  your doctor if you have the following symptoms because they could
  indicate an infection:
</p>

<ol>
  <li>Pain that gets worse, not better</li>
  <li>Fever higher than 101°F</li>
  <li>Vomiting that won’t subside</li>
  <li>Foul-smelling or bloody drainage from the incision</li>
  <li>Significant redness and swelling of the incision</li>
</ol>
