<h1>OSTOMY:</h1>

<h2>What is an ostomy?</h2>

<p>
  An ostomy is a surgically created opening connecting an internal organ to the surface of the body are named for the organ that is involved.
  The most common types in intestinal surgery are an &quot;ileostomy,&quot; which connects the ileal part of the small intestine to the abdominal wall, and a &quot;colostomy,&quot; which connects to large intestine to the abdominal wall.
</p>

<p>
  A temporary ostomy may be required if the intestinal tract can&#39;t be properly prepared for surgery because of blockage or scar tissue. It also may be created to allow inflammation or an operative site to heal without contamination by stool. They can usually be reversed with minimal or no loss of intestinal function.
</p>

<p>
  A permanent ostomy may be required when disease, or its treatment, impairs normal intestinal function, or when the muscles that control elimination do not work properly, or require removal.
  The most common causes are low rectal cancer and inflammatory bowel disease, like Ulcerative colitis, or Crohn&#39;s disease.
</p>

<h2>How will I control my bowel movements?</h2>

<p>
  Once you ostomy has been created, you will be taught how to clean and care for the ostomy pouch.
  An ostomy pouch is designed to catch eliminated stool.
  This is made of plastic and has an adhesive that allows the skin to remain moisturized.
  The pouch bags are disposable and changed as needed.
  There are few &quot;accidents&quot; and most pouches are odor-free.
</p>

<p>
  Bowel movements empty naturally into the pouch.
  Frequency varies depending on where the ostomy is, diet, and metabolism.
  You may modify diet to control the movements.
</p>

<h2>Will people know that I have an ostomy?</h2>

<p>
  Not unless you tell them. Ostomies are easily hidden by your usual clothing.
</p>

<h2>Where will the ostomy be?</h2>

<p>
  An ostomy is best placed on a flat portion of the abdominal wall.
  Before surgery, it is best for your surgeon to mark an appropriate place that is not constricted by your belt line.
  An ileostomy is commonly placed to the right of the navel, and a colostomy to the left.
</p>

<h2>What are the limitations?</h2>

<p>
  All of your usual activities may be resumed once healing from surgery is complete.
</p>

<h2>What are the complications?</h2>

<p>
  Most complications are minor, such as local skin irritation.
  Hernia associated or prolapse of the ostomy are less common but would require surgical intervention.
</p>