<h1>PILONIDAL DISEASE:</h1>

<h2>What is pilonidal disease and what causes it?</h2>

<p>
  Pilonidal disease is a chronic infection of the skin in the buttock crease.
  The condition results from a reaction to hairs embedded in the skin, commonly occurring at the cleft between the buttocks.
  The disease is more common in men than women, and frequently occurs in persons 15-40 years of age.
  It is also common in obese people and those with thick, stiff body hair.
</p>

<h2>What are the symptoms?</h2>

<p>
  Symptoms vary from a small dimple to a large, painful mass. Often the area will drain fluid that may be clear, cloudy, or bloody.
  With infection the area becomes red, tender and will drain pus that has a foul odor (an abscess).
</p>

<p>
  There are several common patterns. Nearly all patients have an episode where the area is swollen and tender.
  After this resolves, either alone or with antibiotics, many patients will develop a pilonidal sinus.
  The sinus is a cavity below the skin surface that connects to the surface with one or more small openings or tracts.
  Although a few of these tracts may resolve, many patients need a small operation to remove them.
</p>

<h2>How is pilonidal disease treated?</h2>

<p>
  The treatment depends on the patient&#39;s symptoms.
  An acute abscess can be managed with an incision and drainage to release the pus, and reduce the inflammation and pain.
  This can be performed in the office with local anesthesia.
</p>

<p>
  A chronic sinus usually will need to be excised or surgically opened.
</p>

<p>
  Complex or recurrent disease must be treated by surgery.
  Procedures vary from unfoofing the sinuses to excision and possible closure with flaps, or left open.
  The procedure varies patient to patient and based upon what the surgeon judges what is best for optimal healing and removal.
</p>

<h2>What care is required after surgery?</h2>

<p>
  If the would is closed, it will need to be kept clean and dry until the skin is completely healed.
</p>

<p>
  If the would is left open, dressings or packing will be needed to help remove the fluid secreted from the wound.
</p>

<p>
  After healing, the skin in the buttocks crease must be kept clean, and free of hair.
  This may be done with shaving, or other hair removal product, until the age of 30.
</p>
