<h1>SENTINEL NODE BIOPSY:</h1>

<h2>What is a Sentinel Node Biopsy?</h2>

<p>
  The sentinel lymph node is the lymph node in the axilla, arm pit, where breast cancer will first spread.
  The surgeon uses a special radioactive isotope and injects it into the breast.
  The isotope will move from the tumor to the lymphatic system.
  The first node to contain radioactive material is called the &quot;sentinel node.&quot;
  This is then removed and examined by a pathologist to see if the cancer has moved to the lymph system.
</p>

<h2>What does this mean?</h2>

<p>
  A sentinel node biopsy determines if breast cancer has spread to the lymph nodes.
  An important part of staging cancer, it impacts recommendations for a patient's treatment.
</p>

<h2>How do sentinel node biopsy results affect treatment?</h2>

<p>
  The sentinel lymph node is will be sent to pathology for analysis and staging of the breast cancer.
  If the sentinel lymph node is negative for tumor cells, the remaining lymph nodes are left intact This reduces the risk of
  <a href="http://www.hopkinsmedicine.org/avon_foundation_breast_center/breast_cancers_other_conditions/lymphedema.html">lymphedema</a>
  in the future, as well as preserves healthy tissue that doesn&#39;t need to be surgically disturbed.
</p>

<p>
  If the node is positive, a more comprehensive decision will be made whether other nearby nodes need to be removed and examined for cancer in a future surgery.
</p>

<p>
  Knowing if the cancer has spread to the nearby lymph nodes is a critical part of
  <a href="http://www.hopkinsmedicine.org/avon_foundation_breast_center/treatments_services/breast_cancer_diagnosis/staging_workup.html">staging</a>,
  and therefore impacts the recommendations for treatment of the patients breast cancer.
</p>
