<h1>Squamous cell carcinoma of the skin (SCC)</h1>

<h2>What is cutaneous squamous cell carcinoma?</h2>

<p>
  Cutaneous squamous cell carcinoma (SCC) is a common type of non-melanoma <a href="http://www.dermnetnz.org/lesions/skin-cancer.html" target="_blank">skin cancer</a>.
</p>

<p>
  Cutaneous SCC is an invasive disease, referring to cancer cells that have grown beyond the epidermis.
  SCC can sometimes metastasize (spread to distant tissues) and may be fatal.
</p>

<h2>Who gets cutaneous squamous cell carcinoma?</h2>

<p>
  Risk factors for cutaneous SCC include:
</p>

<ul>
  <li>SCCs are particularly prevalent in elderly males. However, they also affect females and younger adults.</li>
  <li>Previous SCC or other skin cancers</li>
  <li><a href="http://www.dermnetnz.org/lesions/solar-keratoses.html" target="_blank">Actinic keratoses</a></li>
  <li>Outdoor occupation or recreation (farming, boating, golfing)</li>
  <li><a href="http://www.dermnetnz.org/reactions/smoking.html" target="_blank">Smoking</a></li>
  <li>Fair skin, blue eyes and blond or red hair</li>
  <li>Previous skin injury, thermal burn</li>
  <li>Genetics</li>
  <li>Other risk factors include radiation, exposure to <a href="http://www.dermnetnz.org/reactions/arsenic.html" target="_blank">arsenic</a>, and immune suppression due to <a href="http://www.dermnetnz.org/immune/immunodeficiency.html" target="_blank">disease</a>.</li>
  <li><a href="http://www.dermnetnz.org/systemic/transplant.html" target="_blank">Organ transplant recipients</a> are at great risk for SCC.</li>
</ul>

<h2>What are the clinical features of cutaneous squamous cell carcinoma?</h2>

<p>
  Cutaneous SCCs present as enlarging scaly or crusted lumps..
</p>

<ul>
  <li>Fast growing<li>
  <li>They may bleed or ulcerate</li>
  <li>They may be tender or painful</li>
  <li>Located on sun-exposed sites, particularly the face, lips, ears, hands, forearms and lower legs</li>
</ul>

<table class="images">
  <tr>
    <td style="width: 33%"><img src="{{ site.baseurl }}/images/services/skin/cutaneous_scc_1.jpg" alt="Cutaneous SCC 1" /></td>
    <td style="width: 33%"><img src="{{ site.baseurl }}/images/services/skin/cutaneous_scc_2.jpg" alt="Cutaneous SCC 2" /></td>
    <td style="width: 33%" rowspan="2"><img src="{{ site.baseurl }}/images/services/skin/cutaneous_scc_5.jpg" alt="Cutaneous SCC 5" /></td>
  </tr>
  <tr>
    <td style="width: 33%"><img src="{{ site.baseurl }}/images/services/skin/cutaneous_scc_3.jpg" alt="Cutaneous SCC 3" /></td>
    <td style="width: 33%"><img src="{{ site.baseurl }}/images/services/skin/cutaneous_scc_4.jpg" alt="Cutaneous SCC 4" /></td>
  </tr>
</table>

<h2>Classification of squamous cell carcinoma by risk</h2>

<p>
  Cutaneous SCC is classified as low-risk or high-risk, depending on the chance of tumor recurrence and metastasis.
  Characteristics of high-risk SCC include:
</p>

<p>
  High-risk cutaneous squamous cell carcinoma has the following characteristics: 
</p>

<ul>
  <li>Diameter greater than or equal to 2 cm</li>
  <li>Location on the ear, vermilion of lip, central face, hands, feet, genitalia</li>
  <li>Arising in elderly or immune suppressed patient</li>
  <li>Histological thickness greater than 2 mm, poorly differentiated histology, or with invasion of the subcutaneous tissue, nerves and blood vessels</li>
</ul>

<p>
  Metastatic SCC is found in regional lymph nodes (80%), lungs, liver, brain, bones and skin.
</p>

<table class="images">
  <tr>
    <th colspan="4">High-risk cutaneous squamous cell carcinoma</th>
  </tr>
  <tr>
    <td style="width: 25%"><img src="{{ site.baseurl }}/images/services/skin/high_risk_cutaneous_scc_1.jpg" alt="High-risk Cutaneous SCC 1" /></td>
    <td style="width: 25%"><img src="{{ site.baseurl }}/images/services/skin/high_risk_cutaneous_scc_2.jpg" alt="High-risk Cutaneous SCC 2" /></td>
    <td style="width: 25%"><img src="{{ site.baseurl }}/images/services/skin/high_risk_cutaneous_scc_3.jpg" alt="High-risk Cutaneous SCC 3" /></td>
    <td style="width: 25%"><img src="{{ site.baseurl }}/images/services/skin/high_risk_cutaneous_scc_4.jpg" alt="High-risk Cutaneous SCC 4" /></td>
  </tr>
</table>

<h2>How is squamous cell carcinoma diagnosed?</h2>

<p>
  Diagnosis of cutaneous SCC is based on clinical features.
  The diagnosis and histological subtype is confirmed after it is removed so you can tell pathologically by diagnostic <a href="http://www.dermnetnz.org/procedures/biopsy.html" target="_blank">biopsy</a> or following <a href="http://www.dermnetnz.org/procedures/excision.html" target="_blank">excision</a>.
</p>

<p>
  Patients with high-risk SCC may also undergo staging investigations to determine whether it has spread to lymph nodes or elsewhere. These may include:
</p>

<ul>
  <li>Imaging using ultrasound scan, X-rays, CT scans, MRI scans</li>
  <li>Lymph node or other tissue biopsy</li>
</ul>

<h2>What is the treatment for cutaneous squamous cell carcinoma?</h2>

<p>
  Cutaneous SCC is nearly always treated surgically.
  Most cases are excised with a 3–10 mm margin of normal tissue around the visible tumor.
  A <a href="http://www.dermnetnz.org/procedures/flaps.html" target="_blank">flap</a> or <a href="http://www.dermnetnz.org/procedures/graft.html" target="_blank">skin graft</a> may be needed to repair the defect.
</p>

<p>
  Other methods of removal include:
</p>

<ul>
  <li>Aggressive <a href="http://www.dermnetnz.org/procedures/cryotherapy.html" target="_blank">cryotherapy</a> for very small, thin, low-risk tumors</li>
  <li><a href="http://www.dermnetnz.org/procedures/mohs.html" target="_blank">Mohs micrographic surgery</a> for large facial lesions with indistinct margins or recurrent lesions</li>
  <li><a href="http://www.dermnetnz.org/procedures/radiotherapy.html" target="_blank">Radiotherapy</a> for inoperable lesions, patients unsuitable for surgery, or as adjuvant</li>
</ul>

<h2>How can cutaneous squamous cell carcinoma be prevented?</h2>

<p>
  Reducing sun and UV exposure at any time of life reduces the number of SCCs.
  This is particularly important in <a href="http://www.dermnetnz.org/site-age-specific/ageing.html" target="_blank">ageing</a>, sun-damaged, fair skin; in patients that are immunosuppressed; and in those who already have <a href="http://www.dermnetnz.org/lesions/solar-keratoses.html" target="_blank">actinic keratoses</a> (pre-cancers) or previous SCC.
</p>

<ul>
  <li>Stay indoors or under the shade in the middle of the day</li>
  <li>Wear covering clothing/li>
  <li>Apply high protection factor SPF50+ broad-spectrum <a href="http://www.dermnetnz.org/treatments/sunscreens.html" target="_blank">sunscreens</a> generously to exposed skin if outdoors</li>
  <li>Avoid indoor tanning (<a href="http://www.dermnetnz.org/procedures/sunbeds.html" target="_blank">sun beds, solaria</a>)</li>
</ul>

<h2>What is the outlook for SCC?</h2>

<p>
  Most SCCs are cured by treatment especially if found and treated quickly.
</p>

<p>
  Around 50% of people diagnosed with SCC develop a second one within 5 years.
  They are also at increased risk of other skin cancers, especially melanoma.
  Regular self-skin examinations and long-term annual skin checks by an experienced health professional are recommended.
</p>
