<h1>Actinic keratosis (AK)</h1>

<h2>What is an actinic keratosis?</h2>

<p>
  An actinic keratosis is a scaly spot found on sun-damaged skin.
  It is considered precancerous or an early form of cutaneous squamous cell carcinoma.
</p>

<h2>Who gets actinic keratoses?</h2>

<p>
  Actinic keratoses affect people with a lot of sun exposure or
</p>

<ul>
  <li>Fair skin with a history of sunburn<li>
  <li>History of long hours spent outdoors for work or recreation</li>
  <li>A low immune system</li>
</ul>

<h2>What are the clinical features of actinic keratosis?</h2>

<p>
  Actinic keratosis may be solitary but there are often multiple keratoses. The appearance varies.
</p>

<ul>
  <li>A flat or thickened area</li>
  <li>White or yellow; scaly, warty or scaly surface</li>
  <li>Skin colored, red or pink</li>
  <li>
    Very common on sites repeatedly exposed to the sun
    <ul>
      <li>Backs of the hands and the face,</li>
      <li>Most often affecting the ears, nose, cheeks, upper lip, temples, forehead and balding scalp.</li>
      <li>In severely chronically sun damaged individuals, they may also be found on the upper trunk, upper and lower limbs, and dorsum of feet.</li>
    </ul>
  </li>
</ul>

<table class="images">
  <tr>
    <td style="width: 33%"><img src="{{ site.baseurl }}/images/services/skin/ak_1.jpg" alt="Actinic Keratoses 1" /></td>
    <td style="width: 33%"><img src="{{ site.baseurl }}/images/services/skin/ak_2.jpg" alt="Actinic Keratoses 2" /></td>
    <td style="width: 33%"><img src="{{ site.baseurl }}/images/services/skin/ak_3.jpg" alt="Actinic Keratoses 3" /></td>
  </tr>
  <tr>
    <td style="width: 33%"><img src="{{ site.baseurl }}/images/services/skin/ak_4.jpg" alt="Actinic Keratoses 4" /></td>
    <td style="width: 33%"><img src="{{ site.baseurl }}/images/services/skin/ak_5.jpg" alt="Actinic Keratoses 5" /></td>
  </tr>
</table>

<h2>Complications of actinic keratoses</h2>

<p>
  The main concern is that actinic keratoses predispose to squamous cell carcinoma.
</p>

<h2>How is actinic keratosis diagnosed?</h2>

<p>
  Actinic keratosis usually diagnosed clinically.
  Occasionally, a biopsy is necessary, to exclude SCC, or if treatment fails.
</p>

<h2>What is the treatment for actinic keratoses?</h2>

<p>
  Actinic keratoses are usually removed because they are unsightly or uncomfortable, or because of the risk that skin cancer may develop in them.
</p>

<p>
  Treatment of an actinic keratosis requires removal of the defective skin cells.
</p>

<h4>Cryotherapy using liquid nitrogen</h4>

<p>
  Liquid nitrogen spray is required to ensure adequate depth and duration of freeze.
  This varies according to lesion location, width and thickness. Healing varies from 5-10 days on face, 3-4 weeks on the hands, and 6 weeks or longer on the legs.
  A light freeze for a superficial actinic keratosis usually leaves no mark, but longer freeze times result in hypopigmentation or scar.
</p>
