<h1>Melanoma</h1>

<h2>Spot the difference!</h2>

<p>
  The first sign of a melanoma is usually an unusual or funny-looking mole
  or freckle. Look out for:
</p>

<ul>
  <li>Change in the color, shape or size of a spot</li>
  <li>A spot that is itchy, painful or tender</li>
  <li>One that stands out from other spots – an &quot;ugly duckling&quot;</li>
</ul>

<p>
  If you find an &quot;ugly duckling&quot; on your skin, see your doctor right away.
</p>

 <table class="images">
  <tr>
    <th colspan="4">
      <span style="text-decoration: underline;">Melanomas stand out from other spots</span>
    </th>
  </tr>
  <tr>
    <th>Superficial spreading melanoma</th>
    <th>Lentigo maligna melanoma</th>
    <th>Superficial spreading melanoma</th>
    <th>Nodular melanoma</th>
  </tr>
  <tr>
    <td style="width: 25%"><img src="{{ site.baseurl }}/images/services/skin/high_risk_cutaneous_scc_1.jpg" alt="High-risk Cutaneous SCC 1" /></td>
    <td style="width: 25%"><img src="{{ site.baseurl }}/images/services/skin/high_risk_cutaneous_scc_2.jpg" alt="High-risk Cutaneous SCC 2" /></td>
    <td style="width: 25%"><img src="{{ site.baseurl }}/images/services/skin/high_risk_cutaneous_scc_3.jpg" alt="High-risk Cutaneous SCC 3" /></td>
    <td style="width: 25%"><img src="{{ site.baseurl }}/images/services/skin/high_risk_cutaneous_scc_4.jpg" alt="High-risk Cutaneous SCC 4" /></td>
  </tr>
</table>

<h2>Moles and freckles </h2>

<p>
  Most moles, spots, freckles and bumps on the skin are harmless, but this
  is not always the case:
</p>

<ul>
  <li>About 75% of melanoma are new spots that appear in normal skin – a new ugly duckling.</li>
  <li>Other melanomas start within an existing mole or freckle – watch out for change.</li>
</ul>
<h3>Normal moles</h3>

<p>
  Most people have several normal moles on their skin and a few people have
  lots of them. These ‘normal moles&amp;rshquo; are also called
  melanocytic naevi because they are made up of melanocyte cells.
  Normal moles may be flat or raised and vary in colour from pink to
  brown or black. The colour depends on how much pigment or melanin is
  made by the melanocytes. They are mostly round or oval shaped but can
  sometimes be odd shaped. They can be tiny spots or up to several
  centimetres in size.
</p>

<p>
  Normal moles are harmless but in some cases a melanoma may start from within
  them. People with lots of moles, especially those with over 100
  moles, are at greater risk of getting melanoma than those with few
  moles. If you start to notice any changes in a mole, it’s best to
  get it checked out by a doctor.
</p>

<h3>Funny-looking moles</h3>

<p>
  Funny-looking
  moles are also called atypical naevi or dysplastic naevi. These moles
  are basically normal moles with some unusual features such as large
  size or an odd shape with blurred edges or a flat and bumpy surface.
  Funny-looking moles may look like melanoma but are actually harmless
  (benign) spots that don’t need to be removed. However, if you have
  a few, particularly five or more of these funny-looking moles, your
  chance of getting a melanoma is increased. If you are unsure about
  any of your funny-looking moles it’s best to get them checked out.
</p>

<h3>Brown spots and freckles</h3>

<p>
  Freckles are small flat brown marks that most often appear on the face and
  other exposed parts of the body in the summer months. They are most
  often seen in fair-skinned people with red hair but can be seen in
  people with darker skin color too. Freckles are formed when the skin
  is exposed to the sun. Freckles are harmless, but if one starts to
  look funny compared to others then it’s best to get it checked out.
</p>

<h2>How is melanoma removed?</h2>

<p>
  Melanoma is removed surgically by excision, which means cutting it out. The
  goal is to remove all of the melanoma cancer cells. This is often
  done as two procedures. </font></font>
</p>

<ul>
  <li>>The first procedure is a diagnostic excision.</li>
  <li>The second procedure is the re-excision, also called wide local excision.</li>
</ul>

<h3>Diagnostic excision removes the cancer</h3>

<p>
  If your doctor suspects a skin spot is a melanoma, it is cut out with a
  small margin (usually about 2 mm) of normal skin surrounding it. This
  may be done by your family doctor, or you may be referred to another
  doctor for the procedure. This is called a diagnostic excision. The
  cut-out tissue is sent to a pathology lab for testing.
</p>

<h3>Re-excision ensures none is left behind</h3>

<p>
  If the pathology report is positive for melanoma, a second procedure
  usually takes place a few weeks later. This is to make sure the
  melanoma has been completely removed and includes removing a larger
  margin of normal tissue.
</p>

<p>
  The size of the re-excision margin depends on the Breslow thickness
  measured by the pathologist and the site of the melanoma. Sometimes
  it is difficult to achieve recommended margins in sites such as the
  mid-face.
</p>

<h2>How much skin will be removed when I have the re-excision? </h2>

<p>
  The re-excision will remove the wound or scar from the diagnostic
  excision, with a margin of normal skin measured at the time of
  surgery, as shown in the table below.
</p>

<table style="width: 50%;border: 1px solid;border-collapse:collapse;">
  <tr>
    <th colspan="2" style="width:100%;border: 1px solid;text-align:center;font-weight:bold;">
      Margins for wide local excision of melanoma
    </th>
  </tr>
  <tr>
    <th style="width:50%;border: 1px solid;text-align:center;font-weight:bold;">
      Breslow thickness
    </th>
    <th style="width:50%;border: 1px solid;text-align:center;font-weight:bold;">
      Size of margin
    </th>
  </tr>
  <tr>
    <td style="border: 1px solid;">Melanoma in situ</td>
    <td style="border: 1px solid;">5-10 mm</td>
  </tr>
  <tr>
    <td style="border: 1px solid;">Melanoma &lt;1 mm</td>
    <td style="border: 1px solid;">10 mm</td>
  </tr>
  <tr>
    <td style="border: 1px solid;">Melanoma 1-2 mm</td>
    <td style="border: 1px solid;">10-20 mm</td>
  </tr>
  <tr>
    <td style="border: 1px solid;">Melanoma &gt;2 mm</td>
    <td style="border: 1px solid;">20mm</td>
  </tr>
</table>

<h2>Tell me more about the surgery</h2>

<h3>Simple excision and repair</h3>

<p>
  In most cases, melanoma is cut out by simple excision.
</p>

<ul>
  <li>A local anesthetic injection is given to numb the skin that is to be removed.</li>
  <li>
    The doctor will cut around and under the melanoma with a scalpel.
    As described above, a margin of normal skin tissue surrounding the
    melanoma will also be cut out.
  </li>
  <li>There might be some bleeding in the area and the doctor may use a tool to burn and seal off the wound (electrocautery).</li>
  <li>The edges of the wound are sewn together to make a thin line of stitches (sutures).</li>
  <li>A dressing will be applied.</li>
  <li>You will be told how to care for your wound and when to get the stitches out.</li>
</ul>

<h3>Excision with complex repair</h3>

<p>
  Some large wounds cannot be repaired by simply drawing the edges together
  and stitching them up. In these cases the defect may require a skin
  flap or skin graft. Your doctor will explain the procedure to you.
</p>

<h3>Mohs micrographic surgery</h3>

<p>
  Mohs surgery is a surgical technique used by specially trained
  dermatologists for some facial skin cancers, including a type of
  melanoma called lentigo maligna.
</p>

<ul>
  <li>A local anesthetic injection is given to numb the skin around the melanoma.</li>
  <li>The visible melanoma is removed in the normal way and sent to the pathology laboratory for standard processing.</li>
  <li>
    The dermatologist then takes horizontal sections (layers of skin tissue)
    surrounding the wound, and examines them under the microscope. If
    cancer cells are found then another layer of tissue is cut out and
    checked. This continues layer by layer until there is no sign of
    cancer cells remaining in the skin.
  </li>
  <li>
    Depending on the size of the wound it may be closed with stitches, or
    reconstructed with a skin graft or flap.
  </li>
  <li> Mohs surgery usually takes about 3 hours but in some cases, if the tumor is large, it can take a whole day or longer.</li>
</ul>
