<h1>Skin biopsy</h1>

<h2>What is a skin biopsy?</h2>

<p>
  A skin biopsy is the removal and <a href="http://www.dermnetnz.org/pathology/index.html" target="_blank">evaluation</a> of a sample of skin to determine what is going on.
</p>

<h2>Why have a skin biopsy?</h2>
<p>
  One or more skin biopsies are performed to make or confirm a diagnosis, which often helps determine the correct treatment.
<p>
<ul>
  <li>To determine a diagnosis, a pathologist will look closely under a microscope at the sample.</li>
  <li>Is this lesion a cancer or is it benign?</li>
</ul>

<h2>What happens to the biopsy sample?</h2>

<p>
  Biopsies are all sent to a pathologist who will give the sample a specific diagnosis.
</p>

<h2>Types of skin biopsy</h2>

<p>
  Skin biopsy is usually undertaken using a <a href="http://www.dermnetnz.org/procedures/local-anaesthetics.html" target="_blank">local anesthetic</a> injection into the surrounding skin to numb the area.
  The injection stings transiently. After the procedure, a dressing will usually be applied.
<p>

<h3>Punch biopsy</h3>

<p>
  A punch biopsy is quick to perform, convenient, and only produces a small wound.
  The pathologist can evaluate the full thickness of skin.
  The disposable skin biopsy punch has a round stainless steel blade ranging from 2–10 mm in diameter.
  The clinician holds the instrument perpendicular to the skin and rotates it to pierce the skin and removes a cylindrical core to sample.
  A suture is used to close the wound, or, if the wound is small, it may heal adequately without it.
</p>

<h3>Shave biopsy</h3>

<p>
  A shave biopsy may be used if the skin lesion is superficial, for example to confirm a suspected diagnosis of <a href="http://www.dermnetnz.org/lesions/bowen.html" target="_blank">intraepidermal carcinoma</a> or <a href="http://www.dermnetnz.org/lesions/basal-cell-carcinoma.html" target="_blank">basal cell carcinom</a>.
  A tangential shave of skin is taken using a scalpel or razor blade. No stitches are required. The wound forms a scab that should heal in 1–3 weeks.
<p>

<h3>Incisional biopsy</h3>

<p>
  Incisional biopsies refer to removal of a larger ellipse of skin for diagnosis, using a scalpel blade.
  Stitches are usually required after an incisional biopsy.
</p>

<h3>Excision biopsy</h3>

<p>
  <a href="http://www.dermnetnz.org/procedures/excision.html" target="_blank">Excision biopsy</a> refers to complete removal of a skin lesion, such as a <a href="http://www.dermnetnz.org/lesions/skin-cancer.html" target="_blank">skin cancer</a>.
  A margin of surrounding skin is taken, as a precaution.
  Smaller lesions are most often removed using a scalpel blade as an ellipse, with primary closure using sutures.
  Larger excisions may be repaired using a skin flap (moving adjacent skin to cover the wound) or graft (skin taken from another site to patch the wound).
</p>

<h2>Complications of skin biopsy</h2>

<p>
  Skin biopsy is usually straightforward and complications are uncommon.
</p>

<h3>Bleeding</h3>

<p>
  Intraoperative or postoperative bleeding can occur in anyone, but can be particularly troublesome in those with a bleeding tendency, or taking <a href="http://www.dermnetnz.org/treatments/blood-thinners.html" target="_blank">blood-thinning</a> medications such as warfarin or aspirin.
</p>

<h3>Infection</h3>

<p>
  Bacterial <a href="http://www.dermnetnz.org/bacterial/wound-infection.html" target="_blank">wound infection</a> affects about 1-5% of surgeries.
  It is more likely in ulcerated or crusted skin lesions.
  The risk of infection is greater than usual in diabetics, elderly patients, and in people taking <a href="http://www.dermnetnz.org/treatments/immunosuppressives.html" target="_blank">immunosuppressive medicines</a>.
</p>

<h3>Scarring</h3>

<p>
  It is usual for a biopsy site to form a permanent scar.
  Some people form excessive or <a href="http://www.dermnetnz.org/dermal-infiltrative/keloids.html" target="_blank">hypertrophic scars</a>, particularly in certain body sites such as the centre of the chest.
</p>

<h3>Persistence or recurrence of the skin lesion</h3>

<p>
  Many biopsies are deliberately partial, so that the underlying skin condition remains.
  In other cases, complete removal is intended but not achieved; in time, the lesion may recur at the same site.
</p>

<h2>Obtaining the results of the biopsy</h2>

<p>
  It usually takes about one to two weeks to obtain the result from the pathology laboratory.
  The pathologist describes what is observed under light microscopy in several sections of the biopsy sample, and provides the likely diagnosis.
  Sometimes it is not possible to make an exact diagnosis on the biopsy sample provided.
</p>
