<h1>Viral warts</h1>

<h2>What are viral warts? </h2>

<p>
  Warts are very common non-cancerous growths of the skin caused by infection
  with human papillomavirus (HPV). More than 100 HPV subtypes are
  known, giving rise to a variety of presentations.
</p>

<h2>Who gets viral warts?</h2>

<p>
  Warts are particularly common in children, but they may arise at any age,
  especially in the immunosuppressed population.
</p>

<h2>What causes viral warts?</h2>

<p>
  HPV is spread by direct skin-to-skin contact or autoinoculation. This
  means if a wart is scratched or picked, the viral particles may be
  spread to another area of skin. The incubation period can be as long
  as 1 year.
</p>

<h2>What are the clinical features of viral warts? </h2>

<p>
  Warts have a hard surface. Black dots may be seen as these are the blood
  supply to the wart.
</p>

<table class="images">
  <tr>
    <th colspan="3">Viral warts</th>
  </tr>
  <tr>
    <td style="width: 33%">
      <img src="{{ site.baseurl }}/images/services/skin/viral_warts_1.jpg" alt="Viral Warts 3" />
      <br>Ungueal wart
    </td>
    <td style="width: 33%">
      <img src="{{ site.baseurl }}/images/services/skin/viral_warts_2.jpg" alt="Viral Warts 2" />
      <br>Cauliflower wart
    </td>
    <td style="width: 33%">
      <img src="{{ site.baseurl }}/images/services/skin/viral_warts_3.jpg" alt="Viral Warts 3" />
      <br>Plantar warts
    </td>
  </tr>
</table>

<h2>What is the treatment for viral warts?</h2>

<p>
  Many people don't bother to treat viral warts because treatment can be
  more uncomfortable and troublesome than the warts—they are hardly
  ever a serious problem. However, warts may be painful, and they often
  look ugly so cause embarrassment.
</p>

<p>
  To get rid of them, we have to stimulate the body's own immune system to
  attack the wart virus. Persistence with the treatment and patience is
  essential!
</p>

<h3>Cryotherapy</h3>

<p>
  <a href="http://www.dermnetnz.org/procedures/cryotherapy.html" target="_blank">Cryotherapy</a>
  is normally repeated at one to three week intervals. It is
  uncomfortable and may result in blistering for several day or weeks.
  Success is in the order of 70% after 3-4 months of regular freezing.
</p>

<p>
  A hard freeze using liquid nitrogen might cause a permanent white mark
  or scar. It can also cause temporary numbness.
</p>

<p>
  An aerosol spray with a mixture of dimethyl ether and propane (DMEP) can
  be purchased over the counter to freeze common and plantar warts. It
  is important to read and follow the instructions carefully.
</p>

<h3>Laser therapy</h3>

<p>
  This treatment is very effective and can eliminate warts in as short as
  one treatment, others may need several appointments to eradicate.
</p>

<h3>How can viral warts be prevented?</h3>

<p>
  HPV vaccines are available to prevent <a href="http://www.dermnetnz.org/viral/genital-warts.html" target="_blank">anogenital warts</a>.
  Anecdotally, these have been reported to result in
  clearance of non-genital warts in some people. New vaccines are under
  development that may reduce the risk of other types of HPV.
</p>

<h2>What is the outlook for viral warts?</h2>

<p>
  No treatment is universally effective at eradicating viral warts. In
  children, even without treatment, 50% of warts disappear within 6
  months, and 90% are gone in 2 years. They are more persistent in
  adults but they clear up eventually.
</p>
