<h1>Pilonidal disease</h1>

<h2>What is pilonidal disease?</h2>

<p>
  Pilonidal disease is a chronic skin problem found most often in the
  sacrococcygeal region. This is the cleft between the buttocks just
  below the base of the spine. It is characterized by one or more sinus
  tracts; these are cavities with a narrow opening on the skin surface
  (pilonidal sinus). In most cases, the cavity is filled with nests of
  hair. A non-inflamed lump is known as a pilonidal cyst. If the sinus
  becomes infected a pilonidal <a href="http://www.dermnetnz.org/bacterial/abscess.html" target="_blank">abscess</a>
  may form.
</p>

<table class="images">
  <tr>
    <th colspan="4">Pilonidal sinuses</th>
  </tr>
  <tr>
    <td style="width: 50%;"><img src="{{ site.baseurl }}/images/services/skin/pilonidal_1.jpg" alt="Pilonidal Disease 1" /></td>
    <td style="width: 50%;"><img src="{{ site.baseurl }}/images/services/skin/pilonidal_2.jpg" alt="Pilonidal Disease 2" /></td>
  </tr>
</table>

<h2>What causes pilonidal disease?</h2>

<p>
  The exact reason why pilonidal disease occurs is still unclear.
  Possible causes include:
</p>

<ul>
  <li>Some people are born with small holes or pits near the base of the spine.</li>
  <li>Follicular occlusion; some people are genetically prone to this.</li>
  <li>
    When subjected to friction and motion, the follicles are injured and the
    hair pokes through the wall of the follicle into the surrounding
    skin setting up a foreign body reaction.
  </li>
  <li>
    Skin and perineal bacteria such as <i><a href="http://www.dermnetnz.org/bacterial/staphylococci.html" target="_blank">Staphylococcus aureus</a></i>
    and <i>Bacteroides</i> species invade the opening and cause infection.
  </li>
</ul>

<h2>Who gets pilonidal disease?</h2>

<p>
  Pilonidal disease affects both men and women usually between the ages of 20–40
  years. It is 2–3 times more common in men than women. Other factors
  that increase the risk of pilonidal disease include:
</p>

<ul>
  <li>Coarse, curly or crinkly hair</li>
  <li>Obesity</li>
  <li>Family history</li>
  <li>Poor hygiene</li>
  <li>Prolonged sitting or buttock friction causing increased sweating</li>
</ul>

<h2>What are the signs and symptoms?</h2>

<p>
  Signs and symptoms can vary from a small painless pit or dimple at the base
  of the spine to a large painful abscess. Most patients have
  progressive tenderness, particularly after prolonged periods of
  sitting, such as during a long drive. Signs and symptoms include:
</p>

<ul>
  <li>Pain, redness and swelling </li>
  <li>Small hole or holes draining fluid that may be clear, cloudy or bloody</li>
  <li>If infected, the draining pus may have a foul odor</li>
  <li>Visible or lumpy tracts 2–5 cm long in chronic or recurrent pilonidal disease</li>
</ul>

<h2>How is the diagnosis made?</h2>

<p>
  A physical exam with your health care provider.
</p>

<h2>What treatment is available?</h2>

<p>
  A pilonidal cyst that isn't causing any problems doesn't require any
  treatment. The patient should be advised to keep the area clean and
  free of hair by shaving or using a hair removal agent every 2–3
  weeks. The cyst may resolve itself. Persistent and inflamed cysts
  (acute pilonidal abscess) are incised (cut into) and drained out to
  reduce inflammation and pain. Occasionally the abscess cavity may be
  cut out completely to remove hair nests and skin debris; this reduces
  the rate of recurrence to about 15%.
</p>

<p>
  Persistent, complex or recurrent pilonidal sinus disease must be treated
  surgically. Procedures vary from taking the roof off the sinuses to
  wide and deep excision (ie all affected areas are completely cut
  out). In all cases, the cavity is scrubbed and scraped out to remove
  hair and abnormally healing granulation tissue. Several techniques
  are available for wound healing and closure; these include
</p>

<ul>
  <li>Dressing or packing open wounds</li>
  <li>Marsupialization (forming a pouch), which results in a smaller wound compared to wounds that are left open to granulate</li>
  <li>Closure using <a href="http://www.dermnetnz.org/procedures/flaps.html" target="_blank">skin flaps</a> for wide excisions.</li>
</ul>