<h1>Telangiectasia</h1>

<h2>What is telangiectasia?</h2>

<p>
  Telangiectasia is a condition in which there are visible small linear red blood
  vessels (broken capillaries). These are called telangiectasia.
  Visible small blood vessels that are blue in color (spider veins).
</p>

<table class="images">
  <tr>
    <th colspan="3">Telangiectasia</th>
  </tr>
  <tr>
    <td style="width: 33%"><img src="{{ site.baseurl }}/images/services/skin/telangiectasia_1_1.jpg" alt="Telangiectasia 1-1" /></td>
    <td style="width: 33%"><img src="{{ site.baseurl }}/images/services/skin/telangiectasia_1_2.jpg" alt="Telangiectasia 1-2" /></td>
    <td style="width: 33%"><img src="{{ site.baseurl }}/images/services/skin/telangiectasia_1_3.jpg" alt="Telangiectasia 1-3" /></td>
  </tr>
</table>

<p>
  Telangiectasia may follow cutaneous injury. For example:
</p>
<ul>
  <li>Scarring including <a href="http://www.dermnetnz.org/dermal-infiltrative/keloids.html" target="_blank">hypertrophic and keloid scars</a></li>
  <li><a href="http://www.dermnetnz.org/reactions/radiation-dermatitis.html" target="_blank">Radiation damage</a></li>
  <li><a href="http://www.dermnetnz.org/vascular/erythema-ab-igne.html" target="_blank">Erythema ab igne</a></li>
</ul>

<table class="images">
  <tr>
    <th colspan="3">Telangiectasia following injury</th>
  </tr>
  <tr>
    <td style="width: 33%">
      <img src="{{ site.baseurl }}/images/services/skin/telangiectasia_2_1.jpg" alt="Telangiectasia 2-1" />
      <br>Radiation site
    </td>
    <td style="width: 33%">
      <img src="{{ site.baseurl }}/images/services/skin/telangiectasia_2_2.jpg" alt="Telangiectasia 2-2" />
      <br>Radiation site
    </td>
    <td style="width: 33%">
      <img src="{{ site.baseurl }}/images/services/skin/telangiectasia_2_3.jpg" alt="Telangiectasia 2-3" />
      <br>Erythema ab igne
    </td>
  </tr>
</table>

<p>
  Some tumors are characterized by telangiectasia, such as:
</p>

<ul>
  <li><a href="http://www.dermnetnz.org/acne/sebaceous-hyperplasia.html" target="_blank">Sebaceous hyperplasia</a></li>
  <li><a href="http://www.dermnetnz.org/lesions/basal-cell-carcinoma.html" target="_blank">Basal cell carcinoma</a></li>
  <li><a href="http://www.dermnetnz.org/lesions/merkel.html" target="_blank">Merkel cell carcinoma</a></li>
  <li><a href="http://www.dermnetnz.org/lesions/kaposi-sarcoma.html" target="_blank">Kaposi sarcoma</a></li>
  <li><a href="http://www.dermnetnz.org/dermal-infiltrative/cutaneous-t-cell-lymphoma.html" target="_blank">Cutaneous T-cell lymphoma</a> (CTCL)</li>
  <li>Intravascular <a href="http://www.dermnetnz.org/dermal-infiltrative/b-cell-lymphoma.html" target="_blank">B-cell lymphoma</a></li>
</ul>

<table class="images">
  <tr>
    <th colspan="3">Telangiectasia in skin tumors</th>
  </tr>
  <tr>
    <td style="width: 33%">
      <img src="{{ site.baseurl }}/images/services/skin/telangiectasia_3_1.jpg" alt="Telangiectasia 3-1" />
      <br>Sebaceous hyperplasia
    </td>
    <td style="width: 33%">
      <img src="{{ site.baseurl }}/images/services/skin/telangiectasia_3_2.jpg" alt="Telangiectasia 3-2" />
      <br>Basal cell carcinoma
    </td>
    <td style="width: 33%">
      <img src="{{ site.baseurl }}/images/services/skin/telangiectasia_3_3.jpg" alt="Telangiectasia 3-3" />
      <br>CTCL
    </td>
  </tr>
</table>

<p>
  Certain medications may give rise to telangiectasia.
</p>

<ul>
  <li>Vasodilators especially calcium channel blockers; sun exposed sites are mainly affected</li>
  <li>Long-term <a href="http://www.dermnetnz.org/treatments/systemic-steroids.html" target="_blank">systemic corticosteroids</a></li>
  <li>
    Long-term <a href="http://www.dermnetnz.org/treatments/topical-steroids.html" target="_blank">topical corticosteroids</a>
    including <a href="http://www.dermnetnz.org/acne/steroid-rosacea.html" target="_blank">steroid rosacea</a>
  </li>
  <li><a href="http://www.dermnetnz.org/treatments/intralesional-steroids.html" target="_blank">Intra-lesion steroid injections</a></li>
</ul>

<table class="images">
  <tr>
    <th colspan="3">Telangiectasia related to topical steroid use</th>
  </tr>
  <tr>
    <td style="width: 33%"><img src="{{ site.baseurl }}/images/services/skin/telangiectasia_4_1.jpg" alt="Telangiectasia 4-1" /></td>
    <td style="width: 33%"><img src="{{ site.baseurl }}/images/services/skin/telangiectasia_4_2.jpg" alt="Telangiectasia 4-2" /></td>
    <td style="width: 33%"><img src="{{ site.baseurl }}/images/services/skin/telangiectasia_4_3.jpg" alt="Telangiectasia 4-3" /></td>
  </tr>
</table>

<h2>Treatment of telangiectasia </h2>

<p>
  Telangiectasia is generally harmless. Treatment may be sought because of bleeding or
  unsightly appearance. <a href="http://www.dermnetnz.org/procedures/facial-vein-treatment.html" target="_blank">Facial
  red vein treatment</a> methods include:
</p>

<ul>
  <li>
  <a href="http://www.dermnetnz.org/procedures/lasers.html" target="_blank">Vascular laser treatment</a></li>
  <li><a href="http://www.dermnetnz.org/procedures/sclerotherapy.html" target="_blank">Sclerotherapy</a></li>
</ul>
