<h1 style="text-align: center;">Basal cell carcinoma (BCC):</h1>

<p>
  Basal cell carcinoma (BCC) is a common, locally invasive, non-melanoma <a href="http://www.dermnetnz.org/lesions/skin-cancer.html" target="_blank">skin cancer</a>.
</p>

<h2>Who gets basal cell carcinoma?</h2>
<p>
  Risk factors for BCC include:
</p>
<ul>
  <li>Age and gender: BCCs are particularly prevalent in elderly males. However, they also affect females and younger adults</li>
  <li>Previous BCC or other form of skin cancer (<a href="http://www.dermnetnz.org/lesions/squamous-cell-carcinoma.html" target="_blank">squamous cell carcinoma</a>, <a href="http://www.dermnetnz.org/lesions/melanoma.html" target="_blank">melanoma</a>)</li>
  <li>Sun damage</li>
  <li>Repeated prior episodes of <a href="http://www.dermnetnz.org/reactions/sunburn.html" target="_blank">sunburn</a><li>
  <li>Fair skin, blue eyes and blond or red hair—note; BCC can also affect darker skin types</li>
  <li>Previous cutaneous injury, <a href="http://www.dermnetnz.org/reactions/thermal-burns.html" target="_blank">thermal burn</a>, disease (ex. <a href="http://www.dermnetnz.org/immune/cutaneous-lupus.html" target="_blank">cutaneous lupus</a>, <a href="http://www.dermnetnz.org/lesions/sebaceous-naevus.html" target="_blank">sebaceous nevus</a>)</li>
  <li>Genetics</li>
  <li>Other risk factors include radiation, exposure to <a href="http://www.dermnetnz.org/reactions/arsenic.html" target="_blank">arsenic</a>, and immune suppression due to <a href="http://www.dermnetnz.org/immune/immunodeficiency.html" target="_blank">disease</a> or <a href="http://www.dermnetnz.org/treatments/immunosuppressives.html" target="_blank">medicines</a></li>
</ul>

<h2>What causes basal cell carcinoma?</h2>

<p>
  There are many causes which may include one or all of the following:
</p>
<ul>
  <li>Genetics</li>
  <li>Sun or radiation exposure</li>
  <li>Immunosuppression</li>
  <li>Spontaneously occur</li>
</ul>

<h2>What are the clinical features of basal cell carcinoma?</h2>

<p>
  BCC is a locally invasive skin tumor. The main characteristics are:
</p>
<ul>
  <li>Slowly growing plaque or nodule</li>
  <li>A non-healing lesion which may spontaneously bleed or ulcerate</li>
  <li>Skin colored, pink or pigmented</li>
  <li>Can be very small or large</li>
</ul>

<p>
  BCC is rarely life threatening. Seldom, BCCs grow rapidly/deeply, and/or spread to local lymph nodes.
</p>

<h2>Types of basal cell carcinoma</h2>

<h3>Nodular BCC</h3>

<ul>
  <li>Most common type of facial BCC</li>
  <li>Shiny or pearly nodule with a smooth surface</li>
  <li>May have central depression or ulceration, so its edges appear rolled</li>
  <li>Blood vessels cross its surface</li>
</ul>

<table class="images">
  <tr>
    <td style="width: 25%"><img src="{{ site.baseurl }}/images/services/skin/nodular_bcc_1.jpg" alt="Nodular BCC 1" /></td>
    <td style="width: 25%"><img src="{{ site.baseurl }}/images/services/skin/nodular_bcc_2.jpg" alt="Nodular BCC 2" /></td>
    <td style="width: 25%"><img src="{{ site.baseurl }}/images/services/skin/nodular_bcc_3.jpg" alt="Nodular BCC 3" /></td>
    <td style="width: 25%"><img src="{{ site.baseurl }}/images/services/skin/nodular_bcc_4.jpg" alt="Nodular BCC 4" /></td>
  </tr>
</table>

<h3>Superficial BCC</h3>

<ul>
  <li>The most common type in younger adults</li>
  <li>Commonly on the chest and shoulders</li>
  <li>Scaly or an irregular plaque</li>
  <li>Rolled borders</li>
</ul>

<table class="images">
  <tr>
    <td style="width: 50%"><img src="{{ site.baseurl }}/images/services/skin/superficial_bcc_1.jpg" alt="Superficial BCC 1" /></td>
    <td style="width: 50%"><img src="{{ site.baseurl }}/images/services/skin/superficial_bcc_2.jpg" alt="Superficial BCC 2" /></td>
  </tr>
</table>

<h2>How is basal cell carcinoma diagnosed?</h2>

<p>
  BCC is diagnosed clinically by the presence of a slowly enlarging skin lesion with typical appearance.
  The diagnosis and histological subtype is usually confirmed pathologically by a diagnostic <a href="http://www.dermnetnz.org/procedures/biopsy.html" target="_blank">biopsy</a> or following excision.
</p>

<h2>What is the treatment for primary basal cell carcinoma?</h2>

<p>
  The treatment for a BCC depends on its type, size and location, the number to be treated, patient factors, and the preference or expertise of the doctor.
  Most BCCs are treated surgically. Long-term follow-up is recommended to check for new lesions and recurrence.
</p>

<h3>Excision biopsy</h3>

<p>
  <a href="http://www.dermnetnz.org/procedures/excision.html" target="_blank">Excision</a> means the lesion is cut out and the skin stitched up.
</p>

<ul>
  <li>Should include 3 to 5 mm margin of normal skin around the tumor</li>
  <li>Lesions are sent to a pathologist to examine for cancer cells and to make sure the borders are clear of cancer<li>
  <li>Further surgery is recommended for lesions that are incompletely excised</li>
</ul>

<h3>Mohs Excision</h3>

<p>
  <a href="http://www.dermnetnz.org/procedures/mohs.html" target="_blank">Mohs surgery</a> involves examining carefully marked excised tissue under the microscope, layer by layer, to ensure complete excision.
</p>

<ul>
  <li>Very high cure rates achieved by trained Mohs surgeons</li>
  <li>Used in high-risk areas of the face around eyes, lips and nose for optimal cosmetic effect</li>
  <li>Suitable for larger, more complex lesions</li>
  <li>Large defects are repaired by <a href="http://www.dermnetnz.org/procedures/flaps.html" target="_blank">flap</a> or <a href"http://www.dermnetnz.org/procedures/graft.html" target="_blank">skin graft</a></li>
</ul>

<h3>Cryotherapy</h3>

<p>
  <a href="http://www.dermnetnz.org/procedures/cryotherapy.html" target="_blank">Cryotherapy</a> is the treatment of a superficial skin lesion by freezing it with liquid nitrogen.
</p>

<ul>
  <li>Suitable for small superficial BCCs on covered areas of trunk and limbs</li>
  <li>Results in a blister that crusts over and heals within several weeks.</li>
</ul>
<h2>How can basal cell carcinoma be prevented?</h2>

<p>
  The most important way to prevent BCC is to avoid <a href="http://www.dermnetnz.org/reactions/sunburn.html" target="_blank">excessive</a> sun exposure.
  This is especially important in childhood and early life.
  Fair skinned individuals and those with a personal or family history of BCC should <a href="http://www.dermnetnz.org/treatments/sun-protection.html" target="_blank">protect their skin from sun exposure</a> daily, year-round.
</p>

<ul>
  <li>Stay indoors or under the shade in the middle of the day</li>
  <li>Wear <a href="http://www.dermnetnz.org/treatments/sun-protective-clothing.html" target="_blank">covering clothing</a></li>
  <li>Apply high protection factor SPF50+ broad-spectrum <a href="http://www.dermnetnz.org/treatments/sunscreens.html" target="_blank">sunscreens</a> generously to exposed skin if outdoors</li>
  <li>Avoid indoor tanning (<a href="http://www.dermnetnz.org/procedures/sunbeds.html" target="_blank">sun beds, solaria</a>)</li>
</ul>

<h2>What is the outlook for BCC?</h3>

<p>
  Most BCCs are cured by treatment, especially when diagnosed and taken care of quickly.
</p>

<p>
  About 50% of people with BCC develop a second one within 3 years of the first.
  They are also at increased risk of other <a href="http://www.dermnetnz.org/lesions/skin-cancer.html" target="_blank">skin cancers</a>, especially <a href="http://www.dermnetnz.org/lesions/melanoma.html" target="_blank">melanoma</a>.
  Regular self-skin examinations and long-term annual skin checks by an experienced health professional are recommended.
</p>
