<h1>VENOUS REFLUX:</h1>

<h2>What are varicose veins?</h2>

<p>
  Varicose veins are enlarged veins that can be blue, red or flesh colored.
  They are often raised above the skin on legs and can look like twisted bulging cords.
</p>
<p>
  Veins can become varicose when the vein valves that control blood flow become damaged
  or diseased, resulting in inefficient blood flow back to the heart.
  Some of the blood flow goes backward through the faulty valves.
  This is called venous reflux.
</p>
<p>
  If left untreated, varicose veins can sometimes progress to a more serious form of vein (venous) disease called chronic venous insufficiency (CVI).
</p>
<p>
  Given the common misunderstanding that varicose veins are only a cosmetic issue,
  only 1.9 million of the more than 30 million Americans who suffer from varicose veins
  or CVI seek treatment.
</p>

<h2>What is chronic venous insufficiency (CVI) and what are the signs and symptoms?</h2>

<p>
  CVI is a progressive medical condition that can worsen over time and that affects the
  veins and vessels in the leg that carry oxygen-poor blood back toward the heart.
  CVI is often preceded by varicose veins.
  <strong>You do not have to have varicose veins to have CVI.</strong>
  Without treatment, some people with CVI may experience symptoms that can be debilitating
  and can significantly impact quality of life, including:
</p>
<ul>
  <li>Leg heaviness and fatigue</li>
  <li>Leg or ankle swelling</li>
  <li>Leg pain, aching or cramping</li>
  <li>Varicose veins</li>
  <li>Skin changes or rashes</li>
  <li>Ulcers, open wounds or sores</li>
</ul>

<h2>What are the risk factors of developing venous reflux?</h2>

<p>
  There are several risk factors for developing varicosities, these include:
</p>
<ul>
  <li>Genetics</li>
  <li>Prolonged standing</li>
  <li>Pregnancy</li>
  <li>Obesity</li>
  <li>Trauma or injury to the lower extremities</li>
  <li>Smokers</li>
</ul>

<h2>Can varicose veins be prevented?</h2>

<p>
  For mild forms of venous disease, lifestyle changes may be recommended to control
  existing symptoms and prevent others. The following measures may help prevent
  varicose veins and CVI:
</p>
<ul>
  <li>Manage body weight</li>
  <li>Exercise regularly, focusing on exercises that work your legs (run or walk)</li>
  <li>Elevate your legs whenever possible</li>
  <li>Avoid prolonged standing or sitting</li>
  <li>Avoid clothes that are tight around the waist, groin or legs</li>
  <li>Avoid shoes that limit use of calf muscles (i.e., high heels)</li>
  <li>Eat a diet low in salt and rich in high-fiber foods</li>
</ul>

<h2>Radiofrequency Venous Ablation:</h2>

<p>
  Is a minimally invasive treatment for varicose veins and CVI in which a
  vein specialist inserts a Radiofrequency Ablation (RFA) Catheter to collapse
  and close incompetent leg veins of the superficial venous system.
  After the vein is sealed shut, blood then re-routes to healthy deep venous system.
</p>

<h2>What to Expect:</h2>

<p>
  An initial ultrasound is completed in order to determine if you have venous reflux.
</p>
<p>
  If you do have reflux, you qualify for the procedure.
</p>
<p>
  Prior to this it is required to try compression stockings to see if they benefit your symptoms.
</p>
<p>
  If symptoms persist, you may receive the procedure.
</p>
<p>
  With the procedure, a catheter is inserted into the vein through a small incision below the knee.
  Local anesthesia is used to ensure the patient does not feel the procedures.
</p>
<p>
  Guided by ultrasound imaging, the physician treats a segment of the diseased vein with a
  burst of radiofrequency energy, causing the vessel to shrink around the catheter.
</p>
<p>
  The physician withdraws the catheter, treating each segment until the entire length of
  the diseased vein has been sealed.
</p>
<p>
  The leg is then wrapped in a tight dressing to ensure the procedure is successful.
</p>
<p>
  Unlike vein stripping surgery or laser ablation, the catheter delivers heat in 20 second
  bursts to each vein segment. Compared to treatment with 980 nanometer (nm) laser ablation,
  the procedure generally causes less bruising and allows for rapid patient relief and recovery.
</p>
<p>
  To ensure the controlled clot has not moved into the deep venous system, a follow up
  ultrasound is completed 2-4 days after the procedure.
</p>
<p>
  Patients are then required to wear compression stocking on the treated leg
  for two weeks following the procedure.
</p>

<h2>Potential Risks</h2>

<p>
  As with all medical procedures, there is a rare chance that complications may occur,
  including, but not limited to the following: hematoma, vessel perforation, thrombosis,
  pulmonary embolism, phlebitis, infection, adjacent nerve injury, skin burn or discoloration.
</p>
<p>
  <strong>For more information visit:</strong>
  <a href="https://www.venefitprocedure.com/home.aspx">https://www.venefitprocedure.com/home.aspx</a>
</p>
<p>
  <strong>Self Assessment for Venous Reflux:</strong>
  <a href="http://www.rethinkvaricoseveins.com/self-assessment-and-screening/">http://www.rethinkvaricoseveins.com/self-assessment-and-screening/</a>
</p>