<h2>WHAT IS VENOUS ABLATION?</h2>

<p>
  Venous ablation is an outpatient procedure that uses radiofrequency to close an improperly working vein.
  A small heating catheter is place into the vein and then after the area around your vein is numbed the vein is sealed shut using radiofrequency generated heat.
</p>

<h2>WHY WOULD SOMEONE NEED THIS PROCEDURE?</h2>

<p>
  Varicose veins are a main reason to be interested in having this procedure.
  However, varicose veins are a sign that there may actually be a more severe problem with other veins you cannot see.
  If the valves in these veins are damaged, a portion of the blood goes backwards towards the feet.
  This is called venous reflux or venous insufficiency.
</p>

<h2>WHAT ARE THE SYMPTOMS OF VENOUS INSUFFICIENCY?</h2>

<p>
  Varicose veins, leg swelling and heaviness, burning, itching, cramping and skin changes—darkening skin on the lower legs or leg ulcers, are all symptoms of venous insufficiency.
</p>

<h2>HOW DO I KNOW IF I HAVE VENOUS INSUFFICIENCY?</h2>

<p>
  You have to have a special ultrasound of your leg veins called a venous Doppler to evaluate the blood flow in your legs.
</p>

<h2>DO I NEED A REFERRAL FROM A DOCTOR?</h2>

<p>
  You do not need to be referred.  You may call our office at 315-393-2611 to set up an appointment.
</p>

<h2>WHAT HAPPENS AFTER MY APPOINTMENT?</h2>

<p>
  You will need the ultrasound to determine if you have venous insufficiency.
  If it is determined you do, most insurance companies want you to get compression stockings and wear them for a few weeks to see if there is any improvement in how your legs feel before they will approve the ablation procedure.
  You may not have to do this if you have worn prescription compression stockings already.
</p>

<h2>WHAT HAPPENS DURING THE ACTUAL PROCEDURE?</h2>

<ul>
  <li>
    An ultrasound of your leg will be done immediately prior to determine access.
  </li>
  <li>
    Your leg will be prepped and sterile sheets will be surrounding it, covering your body.
  </li>
  <li>
    Using ultrasound guidance, the doctor will use a small needle to inject local anesthetic into the area around the vein to numb the area before putting a nick in the skin and a small tube into the vein.
  </li>
  <li>
    The doctor will then feed a special wire catheter up the vein through this tube using ultrasound guidance for proper placement.  Once the catheter is in place, the doctor will numb up the tissue around the vein.
    This is done by injecting local anesthetic into the skin and then more numbing fluid deeper around the length of the vein.
  This part may be a little uncomfortable because the numbing medicine may burn a little.
  </li>
  <li>
    The placement of the catheter is verified again with ultrasound.  The radiofrequency is then turned on and the end of the catheter heats up and seals the vein.  The catheter is withdrawn from the vein in increments to seal the length of the vein.
  </li>
  <li>
    Once the catheter is removed, pressure is held on the entrance site for a few minutes.  Paper steri-strips are applied to the small incision.
  </li>
  <li>
    Your leg will be wrapped with ace bandages that stay on for 2 days.
  </li>
  <li>
    You will need to wear your compression stockings for 2 weeks after the procedure.
  </li>
</ul>

<h2>WHY CAN’T I GO TO SLEEP FOR THIS PROCEDURE?</h2>

<p>
  You need to be awake to let the doctor know if you anything hot during the actual ablation of the vein.  If you do, we stop and put in more numbing solution to move tissues away from the vein.
</p>

<h2>IS THERE ANYTHING I CAN TAKE IF I CAN’T GO TO SLEEP?</h2>

<p>
  If you feel you need something to relax you during the procedure, the doctor can give you a mild sedative.
  You will still be awake—just more relaxed.
  You will need to have someone with you to drive you home.
</p>

<h2>WILL ALL MY VARICOSE VEINS BE GONE IMMEDIATELY AFTER THIS PROCEDURE?</h2>

<p>
  No.  We are sealing shut the main vein the varicosities arise from.  It will take time for them to go away completely.  They may diminish in size.
</p>

<h2>WILL THE SWELLING AND OTHER SYMPTOMS BE GONE AFTER THE PROCEDURE?</h2>

<p>
  Patients usually say the cramping is less quite quickly.  The heaviness and swelling is better soon also.
  Many patients say they can see and feel a difference when they take off the dressing 2 days after the procedure?
</p>

<h2>WILL MY LEG HURT AFTER THE PROCEDURE?</h2>

<p>
  Sometimes the treated vein will hurt to touch or varicose veins will be tender when touched.
  Your leg may have a tight feeling around the treated vein a few days to a few weeks after the procedure.
  This is the vein healing and shrinking down.
  Your varicosities may get hard and hurt as they are sealing shut also.
  You may take ibuprofen to help with the discomfort.
</p>

<h2>WHY CAN’T I HAVE BOTH MY LEGS DONE AT THE SAME TIME?</h2>

<p>
  We can only use a certain amount of the numbing medicine at one time or it may become toxic to you.
  If we did both your legs it would exceed the toxic amount.
</p>

<h2>HOW LONG DO I HAVE TO WAIT IF I NEED MY OTHER LEG DONE?</h2>

<p>
  Your other leg can be done within a few days.  We usually wait at least a week.
</p>

<h2>DO I NEED TO SEE THE DOCTOR AGAIN AFTER THE PROCEDURE?</h2>

<p>
  Yes, you will have follow-up visits around 6 and 10 weeks post-op.  This allows time for your varicose veins to seal on their own.  If they don’t, you may need injections to help the varicose veins go away.
</p>

<h2>WHAT ARE THE POST PROCEDURE INJECTIONS?</h2>

<p>
  Many times the large varicosities won’t completely go away so we inject a solution into them to help seal them off.  It is a solution we add air to seal remaining varicose veins.  It is done in the doctor’s office.  Ultrasound is used to see the veins and then a very tiny needle is used to do the injections.
</p>

<h2>WILL MY INSURANCE COVER THESE INJECTIONS?</h2>

<p>
  Yes, most insurance will.
  By using ultrasound guidance it is documenting the veins are bigger and not just cosmetic injections.
</p>
