section.physicians {
  margin: 1em 5em;
  padding: .5em;
  .physician {
    padding-left: 1em;
    display: block;
    margin: .5em;
    img {
      vertical-align: middle;
      padding: .25em;
      background-color: #fff;
    }
  }
}