section.intro {
  margin: 1em 5em;
  padding: .5em 2em;
  background-color: #fff;
  border-radius: 5px;
}

section.action {
  margin: 1em 3em;
  padding: .33em .5em;
  background-color: #ffffff;
  border-radius: 5px;
  .inner {
    padding: 1.5em 2em;
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #a1a1a1, inset 0 0 15px #fff;;
  }
  text-align: center;
  font-weight: bold;
  font-size: 1.125em;
}

section.locations {
  margin: 1em 5em;
  padding: 1em 2em;
  background-color: #fff;
  border-radius: 5px;
  h2 {
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: .5em;
    margin-top: 0;
  }
  table {
    width: 100%;
    th, td {
      text-align: center;
      .map_canvas {
        margin: 0 auto;
        width: 150px;
        height: 150px;
      }
    }
  }
}
