#services_container {
  overflow: auto;
}

#services_nav {
  float: left;
  width: 18em;
  border-right: 3px solid #919191;
  .category {
    .header {
      background-color: #a1a1a1;
      color: blue; // temporary
      border-bottom: 3px solid #919191;
      padding: .25em;
      display: block;
    }
  }
  ul {
    list-style-type: none;
    padding: 0 0 0 1em;
    cursor: pointer;
    margin: .5em 0 1em 0;
    li {
      padding: .25em;
      &.missing_info {
        color: red
      }
    }
    li.selected, li:hover {
      background-color: #919191;
      color: white;
      &:after {
        content: "\2192";
      }
    }
  }
}

#service_descriptions {
  margin-left: 18em;
  padding-left: 1em;
  div {
    display: none;
  }
}